::ng-deep .work-request-container {
    .expansion-container {
        mat-expansion-panel-header {
            min-height: 55px;
        }
    }
    
	.table_header_text {
	    font: 600 13px Roboto,"Helvetica Neue",sans-serif;
	    color :#9e9e9e;
	}
}