#register {
	flex-direction : row;
	overflow: auto;
	background-color : white!important;
	width: 100%;
	background-size: cover;
	height:100vh;
 
	#register-form-wrapper {
		flex: 1 0 auto;
		padding: 32px;
       
		#register-form {
			padding: 32px;
			background-color : white;
			text-align: center;
			.logo {
	            margin: 22px 15px 0px 5px;
	            width: 210px;
	            height: 56px;   
          	}    
            .logo-row {
		      	text-align: center;
		    }      
			.inputBoxShadow {
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);
				border-radius: 10px;
				place-content: space-between;
			}
			
			.title {
				position: relative;
				width: 500px;
				text-align: center;
			}   
			.text_color {
		        font: 600 18px Roboto,"Helvetica Neue",sans-serif;
		        color :#032A57;
		        text-align: center;
		        margin : 20px;
		    }   
			.nameAndPwd {
				margin: 20px 20px 0px 20px;   
			}
			form {
				padding : 1%;
				width: 100%;
				text-align: center;
				mat-form-field {
					width: 384px;
					height: 40px;
					padding : 2px;
				}
				md-input-container label {
					color: red;
				}
				md-input-container.md-input-focused label {
					color: blue;
				}
				.sign-in-instead {
					font-size: 13px;
					margin-top: 8px;
					text-align: right;
					.sign-in {
						font-size: 13px;
						font-weight: 500;
						margin-bottom: 16px;
						color: gray;
						cursor: pointer;
					}
				}
				.submit-button {
					width: 220px;
					margin: 16px auto;
					display: block;
				}
			}
		}
	}
}
