
<div id="register" fxLayoutAlign="center center"> 
  <div id="register-form-wrapper"  fxLayout="column" fxLayoutAlign="center center">
    
    <div id="register-form" >    
    <div class="logo-row" style="    margin-top: 50px;">
      <img src="assets/images/logos/Briclay.png" alt="logo" class="logo">
    </div>   
      <form  name="registerForm"  [formGroup]="registerForm" novalidate>
      <div formGroupName="name">
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >First Name</div>
          <mat-form-field>
            <input matInput formControlName="first" type="text" placeholder="First Name">
          </mat-form-field>
        </div>
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">Last Name</div>
          <mat-form-field>
            <input matInput formControlName="last" type="text" placeholder="Last Name" >
          </mat-form-field>
        </div>
      </div>   
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">Email ID</div>
          <mat-form-field>
            <input matInput formControlName="email" type="email" placeholder="Email ID" >
          </mat-form-field>
        </div>
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">Phone</div>
          <mat-form-field>
            <input matInput formControlName="phone" type="number" placeholder="Phone number" >
          </mat-form-field>
        </div>
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">Password</div>
          <mat-form-field>
            <input matInput formControlName="password" type="text" placeholder="Password" >
          </mat-form-field>
        </div>
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">User Name</div>
          <mat-form-field>
            <input matInput formControlName="username" type="text" placeholder="User Name" >
          </mat-form-field>
        </div>
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">Organisation</div>
          <mat-form-field>
            <input matInput formControlName="_organisationId" type="text" placeholder="Organisation" >
            <!-- <mat-select placeholder="Select Organisation" formControlName="_organisationId" type="organisation">
            </mat-select> -->
          </mat-form-field>
        </div>  
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">Department</div>
          <mat-form-field>
            <input matInput formControlName="_departmentId" type="text" placeholder="Department" >
          <!--   <mat-select formControlName="_departmentId" type="department" placeholder="Select Department" >
            </mat-select>	 -->
          </mat-form-field>
        </div>                  
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 20px;">
          <div class="nameAndPwd">Role</div>
          <mat-form-field>
            <input matInput formControlName="_roleId" type="text" placeholder="Roles" >
           <!--  <mat-select formControlName="_roleId" type="department" placeholder="Select Roles" >
            </mat-select>  -->
          </mat-form-field>
        </div>                        
        <div class="sign-in-instead">
          <a class="sign-in" (click)="openLoginForm()">
            Sign In Instead?
          </a>
        </div>
        <button mat-raised-button style="background-color: #2196F3; color: white;" type="submit" 
            class="submit-button"  aria-label="Register" (click)="onRegisterFormSubmit()">Register
        </button>
      </form>
    </div>
  </div>
</div>