  <div style="padding-top: 2px" fxLayout="row">
   <mat-card class="workCategory" fxLayout=row >
    <div style="width:43%;">
      <mat-form-field appearance="outline"  >
        <mat-label>Select Config</mat-label>
        <mat-select placeholder=""  (selectionChange)="categoryChanged($event.value)">
         <mat-option  [value]="workCategory && workCategory.length > 0 && workCategory[0]._id" >
            {{workCategory && workCategory.length > 0 && workCategory[0].configKey}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</div>
<div class="user-details-container">
  <div  class="user-details-form">
   <div class="user-details-card">
    <div class="user-details-name" [formGroup]="contractCreateForm">
     <div class="username-input" style="margin-top: 19px;">
          <mat-form-field appearance="outline">
             <mat-label>Name</mat-label>
             <input matInput formControlName="name">
          </mat-form-field>
     <br/>
          <mat-form-field appearance="outline">
            <mat-label>No. Of Days</mat-label>
             <input matInput formControlName="noOfDays">
          </mat-form-field>
            <br>
           <mat-form-field appearance="outline">
             <mat-label>Category Reason</mat-label>
             <input matInput formControlName="categoryReason">
           </mat-form-field>
             <br>
 					<mat-form-field appearance="outline">
 						<mat-label>Steps</mat-label>
 						<!-- <input matInput formControlName="steps"> -->
            <textarea matInput formControlName="steps"></textarea>
 					</mat-form-field>
 					<div style ="place-content :center;">
            <mat-spinner style="margin:0 auto;" *ngIf="contractSpinner" [diameter]="40"></mat-spinner>
          </div>
          <div fxLayout=row class="workCategory2"> 
             

             <div   (click)="add()" style="margin-bottom: -40px;">
               <img style="height: 33px;width: 30px;margin-left: 72px;margin-bottom: -4px;" src="assets/images/icons/submitIcon.png" />
               <br>
               <span style="margin-left: 78px;">Ok</span>
             </div>
          </div>

        </div>

      </div>
<mat-card >
         <div fxLayout="row"  *ngFor="let v of array" [formGroup]="contractCreateForm" >
             <div>
               <mat-form-field appearance="outline" style="width: 165px; margin: 2px;">
                 <mat-label>Name</mat-label>
                 <input matInput formControlName="name" required [(ngModel)]="v.name" >
               </mat-form-field>
             </div>
             <div>
               <mat-form-field appearance="outline" style="width: 160px; margin: 2px;">
                 <mat-label>No. Of Days</mat-label>
                 <input matInput formControlName="noOfDays" required [(ngModel)]="v.noOfDays" >
               </mat-form-field>
             </div>
           <div>
            <mat-form-field appearance="outline" style="width: 290px; margin: 2px;">
             <mat-label>Category Reason</mat-label>
             <input matInput formControlName="categoryReason" required [(ngModel)]="v.categoryReason" >
            </mat-form-field>
           </div>
           <div>
             <mat-form-field appearance="outline">
             <mat-label>Steps</mat-label>
           <!--  <input matInput formControlName="steps"> -->
            <textarea matInput formControlName="steps"  required [(ngModel)]="v.steps"></textarea>
            
          </mat-form-field>
           </div>
           
         </div>
    <div fxLayout=row class="hand-cursor" style="align-items: center;margin-left: 72em;margin-top: 176px;">
         <div (click)="reset()"  style="margin-left: -16px;">
           <img style="height: 30px;width: 30px;" src="assets/images/icons/close_red.png" />
           <span>Cancel</span>
         </div>
        <div (click)="onSubmit()">
          <img style="height: 30px;" src="assets/images/icons/submitIcon.png" />
          <span>Save</span>
        </div>
     </div>
</mat-card>
</div>
</div>

</div>