.side-nav {
   
}
.side-nav-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #ffffff;
    text-align: center;
}
.side-nav-icon-size {
    height: 45px;
    width: 45px;
}
.side-nav-list li {
    padding: 10px 0px;
}
.side-nav-list li a {
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
    color: gray;
    &.active {
        color: #3cc0f0;
    }
}

.side-nav-list mat-icon {
    font-size: 35px;
    width: auto;
}