<div class="side-nav">
  <ul class="side-nav-list">
    <li>
      <a routerLink="/dashboard/home" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Organisation_Color.png" >
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/organisation" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Organisation_Color.png" >
        Organisation
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/role" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Organisation_Color.png" >
        Roles
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/department" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Department_Blue.png" >
        Department
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Settings_Briclay.png" >
        Settings
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/user" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Users.png" >
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/projects" routerLinkActive="active">
        <mat-icon>view_comfy</mat-icon><br/>Projects
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/file-manager" routerLinkActive="active">
        <mat-icon>view_comfy</mat-icon><br/>File Manager
      </a>
    </li>
  </ul>

</div>