<div class="side-nav">
  <ul class="side-nav-list">
    <li>
      <a routerLink="/dashboard/home" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Organisation_Color.png" >
        Dashboard
      </a>
    </li>
     <li>
      <a routerLink="/dashboard/organisation" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Organisation_Color.png" >
        Organisation
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/settings" routerLinkActive="active">
        <img class="side-nav-icon-size" src="assets/images/icons/Settings_Briclay.png" >
        Settings
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/user" routerLinkActive="active">
        <mat-icon>person</mat-icon><br/>User
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/projects" routerLinkActive="active">
        <mat-icon>view_comfy</mat-icon><br/>Projects
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/work-request" routerLinkActive="active">
        <mat-icon>view_comfy</mat-icon><br/>Work Request
      </a>
    </li>
  </ul>

</div>