<div class="work-request-details-container">
  <form [formGroup]="workTrackerForm" class="work-request-details-form">
    <mat-card>
      <div class="work-request-details-card">
        <div class="work-request-details-name">
          <div class="work-requestname-input">
            <!-- <input style="margin-bottom: 20px;border-style: none;font-weight: bold;color: #032A57; text-align: center;"  matInput placeholder="" formControlName="requestNumber"
              readonly> -->
            <mat-form-field appearance="outline">
              <mat-label>Projects</mat-label>
              <mat-select placeholder="Projects" formControlName="_projectId" required>
                <mat-option [value]="null" *ngIf="projectsList.length<=0">No User</mat-option>
                <mat-option *ngFor="let projects of projectsList" [value]="projects._id">
                  {{ projects.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never" >
              <mat-label>Assingee</mat-label>
              <mat-select placeholder="Assingee" formControlName="_assignedId" >
                <mat-option [value]="null" *ngIf="userList.length<=0">No User</mat-option>
                <mat-option *ngFor="let users of userList" [value]="users._id">
                  {{ users.username }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never" >
              <mat-label>Support Role</mat-label>
              <mat-select placeholder="Support Role" formControlName="supportRole" >
                <mat-option [value]="null" *ngIf="userList.length<=0">No User</mat-option>
                <mat-option *ngFor="let users of userList" [value]="users._id">
                  {{ users.username }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="work-request-details-content">
          <div class="work-request-details-form-list" >
            <div fxLayout=row style="place-content : space-between;">
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Type of Work</mat-label>
                    <mat-select class="wrk-catgry" placeholder="Type Of Work" formControlName="typeOfWork" required>
                    <mat-option *ngFor="let work of typeOfWork" [value]="work">
                      {{ work }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="position: relative;">
                <mat-form-field appearance="outline">
                  <mat-label>Work Category</mat-label>
                  <mat-select class="wrk-catgry" placeholder="Work Category" formControlName="workCategory" (selectionChange)="noOfDays($event)"required>
                    <mat-option [value]="null" *ngIf="workCategory.length<=0">No Work Category</mat-option>
                    <mat-option *ngFor="let workCat of workCategory" [value]="workCat.name">
                      {{ workCat.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-icon style="position: absolute;top: -12px;left: 187px;" class="icon-small-text curs-pointer">info</mat-icon>
              </div>
            </div>
            <mat-form-field appearance="outline" style="width: 420px;" >
              <mat-label>Package/Description</mat-label>
                <textarea rows=2 matInput placeholder="Package/Description" formControlName="workDescription" required></textarea> 
            </mat-form-field>
            <div fxLayout=row style="place-content : space-between;">
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Type of Work</mat-label>
                    <mat-select class="wrk-catgry" placeholder="Type Of Work" formControlName="typeOfWork" required>
                    <mat-option *ngFor="let work of typeOfWork" [value]="work">
                      {{ work }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Work Category</mat-label>
                  <mat-select class="wrk-catgry" placeholder="Work Category" formControlName="workCategory" (selectionChange)="noOfDays($event)"required>
                    <mat-option [value]="null" *ngIf="workCategory.length<=0">No Work Category</mat-option>
                    <mat-option *ngFor="let workCat of workCategory" [value]="workCat.name">
                      {{ workCat.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="work-request-details-content">
          <div class="work-request-details-form-list">
            <div fxLayout=row>
              <div style="margin-left: 30px;margin-bottom: 20px;">Total Features</div>
                <!-- <div>
                <mat-form-field class="margin_right_25" appearance="outline">
                  <mat-label>Total Features</mat-label>
                  <input matInput formControlName="_features" readonly>
                </mat-form-field>
              </div>   -->          
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button type="submit" class="pull-right">Submit</button>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>