<div class="work-request-details-container">
  <form [formGroup]="workTrackerForm" class="work-request-details-form">
    <mat-card>
      <div class="work-request-details-card">
        <div class="work-request-details-name">
          <div class="work-requestname-input">
            <!-- <input style="margin-bottom: 20px;border-style: none;font-weight: bold;color: #032A57; text-align: center;"  matInput placeholder="" formControlName="requestNumber"
              readonly> -->
            <mat-form-field appearance="outline">
              <mat-label>Projects</mat-label>
              <mat-select placeholder="Projects" formControlName="_projectId" required>
                <mat-option [value]="null" *ngIf="projectsList.length<=0">No User</mat-option>
                <mat-option *ngFor="let projects of projectsList" [value]="projects._id">
                  {{ projects.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never" >
              <mat-label>Assingee</mat-label>
              <mat-select placeholder="Assingee" formControlName="_assignedId" >
                <mat-option [value]="null" *ngIf="userList.length<=0">No User</mat-option>
                <mat-option *ngFor="let users of userList" [value]="users._id">
                  {{ users.username }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="never" >
              <mat-label>Support Role</mat-label>
              <mat-select placeholder="Support Role" formControlName="supportRole" >
                <mat-option [value]="null" *ngIf="userList.length<=0">No User</mat-option>
                <mat-option *ngFor="let users of userList" [value]="users._id">
                  {{ users.username }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Type of Work</mat-label>
                <mat-select class="wrk-catgry" placeholder="Type Of Work" formControlName="typeOfWork" required>
                <mat-option *ngFor="let work of typeOfWork" [value]="work">
                  {{ work }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div style="position: relative;">
              <mat-form-field appearance="outline">
                <mat-label>Work Category</mat-label>
                <mat-select class="wrk-catgry" placeholder="Work Category" formControlName="workCategory" (selectionChange)="noOfDays($event)"required>
                  <mat-option [value]="null" *ngIf="workCategory.length<=0">No Work Category</mat-option>
                  <mat-option *ngFor="let workCat of workCategory" [value]="workCat.name">
                    {{ workCat.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-icon style="position: absolute;top: -12px;left: 187px;" class="icon-small-text curs-pointer">info</mat-icon>
            </div>
          </div>
        </div>
        <div class="work-request-details-content">
          <div class="work-request-details-form-list" >
            <mat-form-field appearance="outline" style="width: 420px;" >
              <mat-label>Package/Description</mat-label>
                <textarea rows=4 matInput placeholder="Package/Description" formControlName="workDescription" required></textarea> 
            </mat-form-field>
            <div fxLayout=row style="place-content : space-between;">
              <div>
                <mat-form-field appearance="outline" style="width: 190px;">
                <mat-label>Initiated Date</mat-label>
                <input matInput [matDatepicker]="initiatedDate" placeholder="Initiated Date" [min]="todayDate"
                  formControlName="initiatedDate" (dateChange)="calTimeToComplete()">
                <mat-datepicker-toggle matSuffix [for]="initiatedDate"></mat-datepicker-toggle>
                <mat-datepicker #initiatedDate></mat-datepicker>
              </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" style="width: 190px;">
                  <mat-label>Need By Date</mat-label>
                  <input matInput [matDatepicker]="needByDate" placeholder="Need by Date" formControlName="needByDate"
                    required (dateChange)="calLeadDaysToComplete()" [disabled]="formType !== 'create'" [min]="todayDate">
                  <mat-datepicker-toggle matSuffix [for]="needByDate" [disabled]="formType !== 'create'"></mat-datepicker-toggle>
                  <mat-datepicker #needByDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout=row style="place-content : space-between;">
              <div>
                <mat-form-field appearance="outline" style="width: 190px;">
                  <mat-label>RFAPutUpDate</mat-label>
                  <input matInput [matDatepicker]="RFAPutUpDate" placeholder="RFA Put Up Date" formControlName="RFAPutUpDate"
                    (dateChange)="changeStatus('RFA Put Up')" [min]="todayDate">
                  <mat-datepicker-toggle matSuffix [for]="RFAPutUpDate"></mat-datepicker-toggle>
                  <mat-datepicker #RFAPutUpDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" style="width: 190px;">
                  <mat-label>RFA Approval Date</mat-label>
                  <input matInput [matDatepicker]="RFAapprovalDate" placeholder="RFA Approval Date" [max]="initiatedDate"
                    formControlName="RFAapprovalDate" (dateChange)="calTimeToComplete()" [min]="todayDate">
                  <mat-datepicker-toggle matSuffix [for]="RFAapprovalDate"></mat-datepicker-toggle>
                  <mat-datepicker #RFAapprovalDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout=row style="place-content : space-between;">
              <div>
                <mat-form-field appearance="outline" style="width: 190px;">
                  <mat-label>Work Order Put Up Date</mat-label>
                  <input matInput [matDatepicker]="workOrderPutDate" placeholder="Work Order Put Up Date" formControlName="workOrderPutDate"
                    (dateChange)="mappingAwaredDate()" [min]="todayDate">
                  <mat-datepicker-toggle matSuffix [for]="workOrderPutDate"></mat-datepicker-toggle>
                  <mat-datepicker #workOrderPutDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" style="width: 190px;">
                  <mat-label>Work Order Approval Date</mat-label>
                  <input matInput [matDatepicker]="workOrderApprovalDate" placeholder="Work Order Put Up Date"
                    formControlName="workOrderApprovalDate" (dateChange)="changeStatus('Completed')" [min]="todayDate">
                  <mat-datepicker-toggle matSuffix [for]="workOrderApprovalDate"></mat-datepicker-toggle>
                  <mat-datepicker #workOrderApprovalDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="work-request-details-content">
          <div class="work-request-details-form-list" >
            <div>
              <mat-form-field appearance="outline" style="width: 197px;">
                <mat-label>Award Date</mat-label>
                <input matInput [matDatepicker]="awardDate" placeholder="Award Date" formControlName="awardedDate"
                  [min]="todayDate">
                <mat-datepicker-toggle matSuffix [for]="awardDate"></mat-datepicker-toggle>
                <mat-datepicker #awardDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <input matInput placeholder="Status" formControlName="status" readonly>
              </mat-form-field>
            </div>
            <div>
              <section class="check-status">
                <span style="margin-right: 5px;">Document Approval Status </span>
                <mat-checkbox style="margin-right: 5px;" disabled="true">RFA</mat-checkbox>
                <mat-checkbox style="margin-right: 5px;" disabled="true">Work Order</mat-checkbox>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout=row style="place-content : space-around;">
        <div>
          <span class="time-label">Lead Time Require</span>
          <span class="time-value">{{workTrackerForm.value.leadTimeRequire}}</span>
          <span class="time-status green" [ngClass]="{'red': time.leadTimeRequire < 10}"></span>
        </div>
        <div>
          <span class="time-label">Time to Complete</span>
          <span class="time-value">{{time.timeToComplete}}</span>
          <span class="time-status green" [ngClass]="{'red': time.timeToComplete < 10}"></span>
        </div>
        <div>
          <span class="time-label">Number Of Days</span>
          <span class="time-value">{{time.leadDaysToComplete}}</span>
          <span class="time-status green" [ngClass]="{'red': time.leadDaysToComplete < 10}"></span>
        </div>
      </div>
      <button mat-raised-button type="submit" class="pull-right" 
      [disabled]="isLoading || !workTrackerForm.valid" (click)="workTrackerFormSubmit()">Submit</button>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>