
<div id="login-head">
  <div  class="main-head" fxFlex=88>
    <div >    
      <span class="tittle">Birclay</span>
    </div>
  </div>
  <div fxFlex=12 class="title-div"></div>
</div>

<div id="login" fxLayoutAlign="center center">
  <div id="login-form-wrapper"  fxLayout="row" fxLayoutAlign="center center">

    <div id="login-form">

      <form name="loginForm" novalidate>
        <div fxLayout="row" class="inputBoxShadow">
          <span class="nameAndPwd">UserName</span>
          <mat-form-field>
            <input matInput placeholder="Enter username/email ID">
          </mat-form-field>
        </div>

        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 30px;">
          <span class="nameAndPwd">Password</span>
          <mat-form-field>
            <input matInput type="password" placeholder="Enter password" >
          </mat-form-field>
        </div>

        

        <div class="remember-forgot-password">
          <a class="forgot-password">
            Forgot Password?
          </a>
        </div>

        <button mat-raised-button style="background-color: #2196F3; color: white;" class="submit-button" [routerLink]="'/dashboard'" aria-label="LOG IN">LOGIN
<!--            <a style="color: white;" [routerLink]="'/dashboard/superadmin'">LOGIN</a>
 -->        </button>
        </form>

      <!-- Material Design Spinner -->
      <div class="spinner-wrapper" *ngIf="loginFormSubmitted">
        <div class="spinner">
          <div class="inner">
            <div class="gap"></div>
            <div class="left">
              <div class="half-circle"></div>
            </div>
            <div class="right">
              <div class="half-circle"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Material Design Spinner -->
    </div>

  </div>

</div>
