<div class="project-details-container">
  <mat-card>
    <div class="project-content">
      <form [formGroup]="detailsForm" novalidate>
        <div fxLayout="row">
          <div fxFlex="33" class="border-right-gray">
            <div class="title"> Details</div>
            <div class="margin-10">
             <!--  <mat-form-field appearance="outline" style="width: 150px;">
                <mat-label>Project Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let types of projectType"
                    [value]="types"> {{types}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field appearance="outline" style="width: 150px;">
                <mat-label>Total Land Area</mat-label>
                <input matInput placeholder="Total Area" required
                formControlName="landArea">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="33" class="border-right-gray">
            <div class="title">Units</div>
            <div class="margin-10">
              <div fxLayout="column" formGroupName="dummyUnits">
                <mat-form-field appearance="outline" >
                  <mat-label>BHK</mat-label>
                  <input matInput placeholder="bhk" required
                  formControlName="bhk">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                  <mat-label>No</mat-label>
                  <input matInput placeholder="No." required
                  formControlName="count">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                  <mat-label>Area (SFT)</mat-label>
                  <input matInput placeholder="Area (SFT)" required
                  formControlName="area">
                </mat-form-field>
                <span (click)="addUnits()">
                  add
                </span>
              </div>
            </div>  
            <div fxLayout="row" *ngFor="let unit of uniteArray;let i = index">
              <div (click)="deleteUnit(i)">
                delete Icon
              </div>
              <div>
                {{unit.bhk}}
              </div>
              <div>
                {{unit.count}}
              </div>
              <div>
                {{unit.area}}
              </div>
            </div>
          </div>
          <div fxFlex="33">
            <div class="title">Parking</div>
              <div class="margin-10">
                <div fxLayout="column" formGroupName="dummyCarParkingArea">
                  <mat-form-field appearance="outline" style="width: 150px;">
                    <mat-label>Parking Area</mat-label>
                    <input matInput placeholder="Parking Area" required
                    formControlName="area">
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 150px;">
                    <mat-label>No.</mat-label>
                    <input matInput placeholder="No." required
                    formControlName="count">
                  </mat-form-field>
                  <span (click)="addParking()">
                    <img src="assets/images/icons/add_24.png">
                  </span>
              </div>
            </div>
            <div fxLayout="row" *ngFor="let parking of parkingArray;let i = index">
              <div (click)="deleteParking(i)">
                delete Icon
              </div>
              <div>
                {{parking.area}}
              </div>
              <div>
                {{parking.count}}
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <button mat-raised-button>
            <span (click)="onCancel()" >Cancel</span>
          </button>
          <button type="submit" mat-raised-button (click)="onSubmit()">
            <span>Submit</span>
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>