<div id="project-forms" class="page-layout simple fullwidth" fxLayout="column" matkraftPerfectScrollbar>
  <!-- CONTENT -->
  <div id="whole-form-screen">
    <div  id="nw-proj">
      <span class="new-project">New Project</span>
    </div>
    <div id="proj-nm-des-id">
      <form  [formGroup]="projectForm" novalidate>
        <mat-card>
        <!-- first row -->
        <div id="name-des" fxLayout="row">
          <mat-form-field fxFlex="30" class="project-name-field" *ngIf="projectStatus ==='UP-COMING' && progressChecked ==='OPEN';">
            <input matInput placeholder="Project Name" formControlName="name" required (keyup)="generateOrgCode()" [disabled]="disableFlag">
          </mat-form-field>
          <mat-form-field fxFlex="30" class="project-name-field" *ngIf="showReadOnly">
            <input matInput placeholder="Project Name" formControlName="name" required (keyup)="generateOrgCode()" readonly>
          </mat-form-field>
          <mat-form-field fxFlex="70" class="project-description-field">
            <input matInput placeholder="Description" formControlName="description" required>
          </mat-form-field>
        </div>
        <!-- end first row -->
        <!-- start second row -->
        <div fxLayout="row">
          <mat-form-field fxFlex="30" class="project-project-id-field">
            <input matInput placeholder="Project Code" type ="text" formControlName="projectCode" [(ngModel)]="projectCode" required readonly>
          </mat-form-field>
          <div fxLayout="row" class="mt-sel-proj-progrs" fxFlex="70" fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="30">
              <mat-select required placeholder="Construction Type" class="prog-status-proje" formControlName="constructionType">
                <mat-option *ngFor="let constType of constructionType" [value]="constType">{{constType}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- project status -->
            <mat-form-field fxFlex="30">
              <mat-select required placeholder="Project Status" class="prog-status-proje" formControlName="projectStatus" (change)="projectStatusSelected()">
                <mat-option *ngFor="let projStatus of status" [value]="projStatus" > {{projStatus.projectStatus}}</mat-option>
              </mat-select>
            </mat-form-field>
              <!--end project status -->
            <!-- progress status -->
            <mat-form-field fxFlex="30">
              <mat-select required placeholder="Progress Status" class="prog-status-proje" formControlName="status" (change)="projectProgressSelected()">
                <mat-option *ngFor="let progStatus of progressStatus" [value]="progStatus">{{progStatus}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- en dprogress status -->
          </div>
        </div>
        </mat-card>
        <!-- end second row -->
        <div fxLayout="row" id="sv-n-cncl-box">
          <div fxFlex="73"></div>
          <div fxFlex="27" fxLayout="row" fxLayoutAlign="end center">
            <!-- <span class="edit"><button mat-button [style.display]="editFlag === true? 'block':'none'">Edit</button></span> -->
            <div class="cancel">
              <button mat-button (click)="onCloseCancel()">Cancel</button>
            </div>
            <div id="empty-div"></div>
            <div class="save">
              <button type="submit" mat-button (click)="onProjectFormSubmit()">Save</button>
            </div>
          </div>
        </div>
        <!-- end button area -->
      </form>
    </div>
  </div>
  <!-- / CONTENT -->
</div>
