<div class="project-details-container">
  <mat-card >
    <div class="project-content">
      <form [formGroup]="projectForm" >
        <div fxLayout="row">
          <div fxFlex="20" class="border-right-gray">
            New Project
            <div (click)="fileInput.click()" class="upload-photo">
              <div class="list">
                Add Images
                <img src="{{filePath}}" class="img-upload">
                <!-- <span>File Upload</span> -->
                <input #fileInput type="file" (change)="onPhotoUpload($event)" style="display:none;" accept="image/x-png,image/gif,image/jpeg" />
              </div>
            </div>
          </div>
          <div fxFlex="50" class="border-right-gray">
            <div fxLayout="row" class="margin-10">
              <div fxFlex="50">
                <mat-form-field appearance="outline" fxFlex="90">
                  <mat-label>Project Name</mat-label>
                    <input matInput placeholder="Project Name" formControlName="name" required (keyup)="generateOrgCode()" [disabled]="disableFlag">
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field appearance="outline" fxFlex="90">
                  <mat-label>Project Code</mat-label>
                  <input matInput placeholder="Project Code" type ="text" formControlName="projectCode" [(ngModel)]="projectCode" required readonly>
                </mat-form-field>
              </div>
            </div>
            <div fxLayouy="row" class="margin-10">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description" formControlName="description" required></textarea> 
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="30">
            <div fxLayouy="row" class="margin-10">
              <div fxFlex="60" class="margin-10">
                  <mat-form-field appearance="outline" fxLayouy="row">
                    <mat-label>Total Units</mat-label>
                    <input type="number" [max]="5000000" (keypress)="numberFieldValidation(totalUnits.value)" name="totalUnits" #totalUnits matInput placeholder="Total Units" formControlName="unitNumber" min=0 (change)="onNextClick()">
                  </mat-form-field>
                  <br/>
                  <mat-form-field appearance="outline" fxLayouy="row">
                    <mat-label>Location</mat-label>
                    <input type="text"  (keypress)="numberFieldValidation(totalUnits.value)" name="totalUnits" #totalUnits matInput formControlName="unitNumber" min=0 (change)="onNextClick()">
                  </mat-form-field>
                  <br/>
                  <mat-form-field appearance="outline" fxLayouy="row">
                    <mat-label>Location</mat-label>
                    <input type="text"  (keypress)="numberFieldValidation(totalUnits.value)" name="totalUnits" #totalUnits matInput formControlName="unitNumber" min=0 (change)="onNextClick()">
                  </mat-form-field>
              </div>
              <div fxFlex="40" class="margin-10">
                <button mat-raised-button class="popup-btn">Details</button>
                <br/>
                <button mat-raised-button class="popup-btn">Phases</button>
                <br/>
                <button mat-raised-button class="popup-btn">Team</button>
                <br/>
                <button mat-raised-button class="popup-btn">Dates</button>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>

  </mat-card>
</div>