<div id="order-tracker-create" fxLayout="column" class="page-layout simple fullwidth request-order-container">
  <div class="request-order-content">
    <mat-card>
      <form name="orderTrackerForm" [formGroup]="orderTrackerForm" novalidate>
        <div class="card-header">
          <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field *ngIf="formType === 'create'" appearance="outline" floatLabel="never" color="primary">
              <mat-label>Work Request</mat-label>
              <mat-select placeholder="Work Request" formControlName="workRequest" class="fo-p3-likhud" (selectionChange)="selectWorkRequest()">
                <mat-option *ngFor="let requestList of workList" [value]="requestList">
                  {{ requestList.requestNumber }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="formType !== 'create'" appearance="outline" floatLabel="never" color="primary">
              <mat-label>Work Request</mat-label>
              <input matInput placeholder="" formControlName="workRequest" readonly>
            </mat-form-field>
          </div>
          <div  fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field appearance="outline">
              <mat-label>Assigned User</mat-label>
              <input matInput placeholder="" formControlName="assignedUser" readonly>
            </mat-form-field>
          </div>
          <div  fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field appearance="outline">
              <mat-label>Work Order Full Ref Number</mat-label>
              <input matInput placeholder="" formControlName="workOrderFullRefNumber" readonly>
            </mat-form-field>
          </div>
          <div  fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field appearance="outline" style="width: 85%;">
              <mat-label>Order Date</mat-label>
              <input matInput [min]="initiatedDate" placeholder="" [matDatepicker]="orderDate" formControlName="orderDate">
                <mat-datepicker-toggle matSuffix [for]="orderDate"></mat-datepicker-toggle>
                <mat-datepicker #orderDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <!-- card Content starts here-->
        <div class="card-content">
          <div fxLayout="row">
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Work Order Id</mat-label>
                <input matInput placeholder="Work Order Id" formControlName="orderNumber" readonly>
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Project Name</mat-label>
                <input matInput placeholder="Project Name" formControlName="projectName" readonly>
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Type Of Work</mat-label>
                <input matInput placeholder="Type Of Work" formControlName="typeOfWork" readonly>
              </mat-form-field>
            </div>
            <div  fxFlex="20" *ngIf="enableTypeOfConsultant">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Type Of Consultant</mat-label>
                <input matInput placeholder="Type Of Consultant" formControlName="typeOfConsultant" readonly>
              </mat-form-field>
            </div>
            <div  fxFlex="40">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Package/Description</mat-label>
                <input matInput class="width-100" placeholder="Package/Description" formControlName="workDescription" readonly>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row">
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Work Request Status</mat-label>
                <input  matInput placeholder="Work Request Status" formControlName="workRequestStatus" readonly>
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Documents Status</mat-label>
                <input  matInput placeholder="Documents Status" formControlName="documentStatus" readonly>
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Ramco Work Order #</mat-label>
                <input type="text"  matInput placeholder="Ramco Work Order #" formControlName="workOrderNumber">
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Name of Agency</mat-label>
                <input type="text" matInput placeholder="Name of Agency" formControlName="nameOfAgency">
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Status</mat-label>
                <input type="text" matInput placeholder="Status" value="In Progress">
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row">
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center" style="width: 85%;">
                <mat-label>Work Order Put Date</mat-label>
                <input matInput placeholder="Work Order Put Date" [matDatepicker]="workOrderPutDate" formControlName="workOrderPutDate">
                <mat-datepicker-toggle matSuffix [for]="workOrderPutDate"></mat-datepicker-toggle>
                <mat-datepicker #workOrderPutDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center" style="width: 85%;">
                <mat-label>Work Order Approval Date</mat-label>
                <input matInput  placeholder="Work Order Approval Date" [matDatepicker]="workOrderApprovalDate"
                       formControlName="workOrderApprovalDate">
                <mat-datepicker-toggle matSuffix [for]="workOrderApprovalDate"></mat-datepicker-toggle>
                <mat-datepicker #workOrderApprovalDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center" style="width: 85%;">
                <mat-label>Award Date</mat-label>
                <input matInput  placeholder="Award Date" [matDatepicker]="awardDate"
                       formControlName="awardedDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="awardDate"></mat-datepicker-toggle>
                <mat-datepicker #awardDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <mat-form-field appearance="outline" fxLayoutAlign="start center">
                <mat-label>Total Value</mat-label>
                <input type="number" matInput placeholder="Total Value" formControlName="totalValue">
              </mat-form-field>
            </div>
            <div  fxFlex="20">
              <section class="check-status">
                <span>Document Approval Status </span>
                <mat-checkbox disabled="true">RFA</mat-checkbox>
                <mat-checkbox disabled="true">Work Order</mat-checkbox>
              </section>
            </div>
          </div>
        </div>
        <!-- card Content ends here-->
        <!-- card Footer starts here-->
        <div fxLayout="row" fxLayoutAlign="start center" class="card-footer">
          <div fxFlex="100">
            <!-- button -->
            <div class="button-row" fxLayoutAlign="end center">
              <button mat-raised-button class="cancel-button" color="white-bg" (click)=cancel()>Cancel</button>
              <div class="space"></div>
              <button type="submit" mat-raised-button class="save-button" color="white-bg" (click)=onOrderFormSubmit()>Save</button>
            </div>
          </div>
        </div>
        <!-- card footer ends here -->
      </form>
    </mat-card>
  </div>
</div>
