<nav class="header">
  <div class="logo pull-left">
<!--     <div style="color: #2b2a2a;">Logo</div> -->
 <img src="assets/images/logos/Puravankara.png" style="height: 40px; width: 70px;"  >
  </div>
  <div class="pull-right user">
    <div FxLayout=row>
      <button mat-icon-button >
        <img class="alert_icon" src="assets/images/icons/Alert_Briclay_Blue.png" >
      </button>
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu" >
        <img class="notification_icon" src="assets/images/icons/Notifications.png" >
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menulog" class="user-list">
        <img src={{userImage}} >
        <span style="color: white;margin-right: 25px;">
          {{userName}}
        </span>
      </button> 
    </div>
    <mat-menu #menulog="matMenu">
      <button mat-menu-item >
        <div [routerLink]="'/login'" >
          <mat-icon>exit_to_app</mat-icon>
          <span >Logout</span>
        </div>
      </button>
    </mat-menu>
    <mat-menu #notificationMenu="matMenu"  class="panel">
      <div class="notification_container " >
        <div class="title">Notifications</div>
        <div fxLayout=row style="place-content: flex-end;">
          <img class="close" src="assets/images/icons/Cancel.png" >
          <div class="content_text">Clear All</div>
        </div>
        <div style="margin-top: 6%;" >
          <mat-card class="card" style="background-color: #8080801c;position: relative;" 
          *ngFor="let notification of notifications">
            <div fxLayout=row style="place-content: space-around;">
              <div >
                <img style="height: 15px; width: 15px;margin: 0px 0px -14px 0px;" src="assets/images/icons/Warning_Red.png" >
                <p class="message">{{notification.time}}</p>
              </div>
              <p class="message">{{notification.message}}</p>
            </div>
            <div style="position: absolute;top: -3px;right: 0px;">
              <img class="close" src="assets/images/icons/close_red.png" >
            </div>
          </mat-card>
        </div>
      </div>
    </mat-menu>
  </div>
</nav>