.create-user {
    margin-bottom: 15px;
}
.user-container {
 
    .table_header_text {
        font: 600 13px Roboto,"Helvetica Neue",sans-serif;
        color :#9e9e9e;
    }
    .user_div {
        background-color: #00a1ff4a; 
        border-radius: 0px 10px 10px 0px;
    }
    .user-details {
        margin-left: 15px;
    }

    .text_color {
        font: 600 16px Roboto,"Helvetica Neue",sans-serif;
        color :#032A57;
        text-align: center;
        margin-top: 10px;
    }
    .text_color_sm {
        font: 600 14px Roboto,"Helvetica Neue",sans-serif;
        color :#032A57;
        text-align: center;
        margin-top: 7px;
    }
    .margin_right_10 {
        margin-right : 15px;
    }
}
::ng-deep .user-container .mat-card-header-text {
    background-color: #ebf9fc;
    margin: -16px 0px 10px -16px;
    padding: 6px 25px;
    .mat-card-title{
        font-size: 15px;
        margin-bottom: 0px;
    }
}
mat-form-field {
    margin-right: 30px;
}
::ng-deep .user-container .expansion-container {
    padding: 10px;
    mat-expansion-panel-header {
        mat-panel-title {
            &.mat-expansion-panel-header-title:nth-child(2) {
                flex: 0.5 !important;
            }
        }
        
    }

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: 0.75em;
    position: relative;
    height: 38px;
}
 ::ng-deep input.mat-input-element {
    margin-top: 6px;
}