.user-details-container {
    padding: 10px;
    .user-details-form {
        
        .user-details-card {
            flex: 1;
            display: flex;
            font: 400 14px Roboto,"Helvetica Neue",sans-serif;
            .user-details-name {
                flex: 0.5;
                img {
                    width: 100px;
                    border-radius: 5px;
                }
                .username-input {
                    margin-top: 10px;
                }
            }
            .user-details-content {
                flex: 1;
                .user-details-content-title {
                    margin-left: 10px;
                }
                .user-details-form-list {
                    border-left: 2px solid lightgrey;
                    min-height: 140px;
                    padding: 10px;

                    .datePicker{
                        height: 46px;
                        width: 195px;
                    }
                }

            }
        }
    }
}
