<div class="user-details-container">
	<form class="user-details-form" [formGroup]="userDashboardForm">
		<mat-card>
			<div class="user-details-card">
				<div class="user-details-name">
					<div class="username-input">
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>Work Category</mat-label>
							<input matInput formControlName="workCategory">
						</mat-form-field>
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>Support Role</mat-label>
							<input matInput formControlName="supportRole">
						</mat-form-field>
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>Assignee</mat-label>
							<input matInput formControlName="assignee">
						</mat-form-field>
					</div>
				</div>
				<div class="user-details-content">
					<div class="user-details-form-list">
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>Intiate Date</mat-label>
							<input matInput formControlName="putintiateDate">
						</mat-form-field>
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>RFA Put-up Date</mat-label>
							<input matInput formControlName="RFAPutDate">
						</mat-form-field> 
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>WO Put-up Date</mat-label>
							<input matInput formControlName="WOPutDate">
						</mat-form-field>
					</div>
				</div>
				<div class="user-details-content">
					<div class="user-details-form-list">
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>Intiate Date</mat-label>
							<input matInput formControlName="approvalintiateDate">
						</mat-form-field>
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>RFA Approval Date</mat-label>
							<input matInput formControlName="RFAApprovalDate">
						</mat-form-field> 
						<mat-form-field class="margin_right_25" appearance="outline">
							<mat-label>WO Approval Date</mat-label>
							<input matInput formControlName="WOApprovalDate">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</mat-card>
	</form>
</div>