.issue-tracker-details-container {
    padding: 10px;
    .issue-tracker-details-form {
        
        .issue-tracker-details-card {
            flex: 1;
            display: flex;
            font: 400 13px/20px Roboto,"Helvetica Neue",sans-serif;
            .issue-tracker-details-name {
                flex: 0.24;
                img {
                    width: 100px;
                    border-radius: 5px;
                }
                .issue-trackername-input {
                    margin-top: 10px;
                }
            }
            .issue-tracker-details-content {
                flex: 1;
                .issue-tracker-details-content-title {
                    margin-left: 10px;
                }
                .issue-tracker-details-form-list {
                    border-left: 1px solid #ccc;
                    min-height: 200px;
                    padding: 10px;
                }
            }
        }
    }
    
}

