      <div fxFlex=100 fxLayout=column>
        <div fxLayout="row" >
          <mat-card class="header-shadow" style="display: inline;flex :1;height: 15px;">
            <!-- <div class="pull-left panel-left" style="margin-top: -14px;">
              <mat-form-field appearance="outline" class="fisrtFrom">
                <mat-label>Organization</mat-label>
                <mat-select placeholder="Select Organization">
                  <mat-option *ngFor="let organization of organizations" [value]="organization.value">
                    {{organization.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <div fxLayout=row style="place-content: space-around;">
              <div fxLayout=row style="place-content: space-around;">
                <img style="height: 25px;width: 25px;" src="/assets/images/icons/projects_Active.png">
                <a routerLink="/dashboard/projects" style="text-decoration: none;">
                  <div class="tab-btn" style="margin-left:10px;" > Projects</div>
                </a>
              </div>
              <div fxLayout=row style="place-content: space-around;">
               <img style="height: 35px;width: 35px;margin-top: -5px;" src="/assets/images/icons/File_Manager_Active.png">
                <a routerLink="/dashboard/file-manager" style="text-decoration: none;">
                  <div class="tab-btn" >File Manager</div>
                </a>
             </div>
             <div fxLayout=row style="place-content: space-around;">
              <img style="height: 25px;width: 25px;" src="/assets/images/icons/Work_Request _active.png">
              <div class="tab-btn" style="margin-left:10px;">Document Checklist</div>
            </div>
          </div>
        </mat-card> 
      </div>
