
<div style="margin-left:50px;">
  <div style ="place-content :center;">
    <mat-spinner style="margin:0 auto;" *ngIf="loading; else content" [diameter]="40"></mat-spinner>
  </div>
  <ng-template #content>
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> <img src="{{getIcon(element.fileExt,element.type)}}" width="40">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let element"> {{element.version}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="width:40%" align="center"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="routeFielManger(row)"></tr>
    </table> -->
    <div *ngFor="let element of allFolders;">
      <div fxLayout=row >
        <mat-card class="hand-cursor" (click)="routeFielManger(element)"  style="width:26%;height: 48px;background-color: #d3d3d385;display: inline-block;">
          <div fxLayout=row style="position: relative;">
            <div class="icon" >
              <img style="width:65px;height: 65px;" src="assets/images/icons/design-icon.png">
            </div>
            <div class="text" style="position: absolute;
              background-color: blue;
              color: white;
              top: 32px;
              width: 56px;
              font-weight: 600;" ><span>{{element.name}} </span>
            </div>
            <div fxLayout=row style="margin-left: 10px;margin: 8px 0px 0px 20px;">
              <div style="color: blue;
                font-size: 17px;">{{element.name}} Department Repository</div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div fxLayout=row >
      <div fxLayout=row style="margin-top: 20px;margin-right: 20px;" (click)="routeSharedFolder()" class="hand-cursor">
        <span style="width:55%;height: 48px;">
          <div fxLayout=row style="position: relative;">
            <div class="icon" >
              <img style="width:110px;height: 110px;" src="assets/images/icons/Shared.png">
            </div>
            <div class="text" style="position: absolute;
              color: white;
              top: 38px;
              right: -17px;
              font-size: 13px;
              font-weight: 600;" ><span>Shared</span></div>
          </div>
        </span>
      </div>
      <div fxLayout=row style="margin-top: 20px;margin-right: 20px;" (click)="goToNext()" class="hand-cursor">
        <span style="width:55%;height: 48px;">
          <div fxLayout=row style="position: relative;">
            <div class="icon" >
              <img style="width:110px;height: 110px;" src="assets/images/icons/Template.png">
            </div>
            <div class="text" style="position: absolute;
              color: white;
              top: 38px;
              right: -25px;
              font-size: 13px;
              font-weight: 600;" ><span>Template</span></div>
          </div>
        </span>
      </div>

      <div fxLayout=row style="margin-top: 20px;margin-right: 20px;" (click)="goToNext()" class="hand-cursor">
        <span style="width:55%;height: 48px;">
          <div fxLayout=row style="position: relative;">
            <div class="icon" >
              <img style="width:110px;height: 110px;" src="assets/images/icons/Library.png">
            </div>
            <div class="text" style="position: absolute;
              color: white;
              top: 38px;
              right: -17px;
              font-size: 13px;
              font-weight: 600;" ><span>Library</span></div>
          </div>
        </span>
      </div>
    </div>
  </ng-template>
</div>