<div class="project-details-container">
  <!-- start card section  -->
  <mat-card>
    <!-- main div -->
    <div class="project-content">
      <form [formGroup]="projectForm" novalidate>
        <div fxLayout="row">
          <!-- first section -->
          <div fxFlex="20" class="border-right-gray">
            New Project
            <div class="upload-photo">
              <div class="list">
                <span (click)="fileInput.click()">
                  <img  matTooltip="File Upload" width="75px" src="assets/images/icons/Camera.png" title="Upload"  class="hand-cursor margin-left-4">
                  <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" /> <!-- </span> Upload</p> --> 
                </span>
              </div>
            </div>
            <div fxLayout="row">
              <div *ngFor="let img of imageArray">
                <div style="padding : 5px; margin-left: 15px;margin-top: -15px;">
                  <img src="{{img}}" class="uploadedImg">
                </div>
              </div>
            </div>
          </div>
          <!-- end fisrt section -->
          <!-- second section -->
          <div fxFlex="50" class="border-right-gray">
            <div  class="margin-10" fxLayout=column>
              <div fxLayout="row">
                <mat-form-field class="padding_1" appearance="outline" fxFlex="30">
                  <mat-label>Project Name</mat-label>
                  <input matInput placeholder="Project Name" required (keyup)="generateProjectCode()"  formControlName="name">
                </mat-form-field >
                <mat-form-field class="padding_1" appearance="outline" fxFlex="30">
                  <mat-label>Project Code</mat-label>
                  <input matInput placeholder="Project Code" type="text" required readonly formControlName="projectCode">
                </mat-form-field>

                <mat-form-field class="padding_1" appearance="outline" fxFlex="30">
                  <mat-label>Project Type</mat-label>                
                    <mat-select formControlName="type">
                      <mat-option *ngFor="let types of projectType" [value]="types">
                      {{types}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> 
              </div>
              <div fxLayout="row">
                <mat-form-field appearance="outline" fxFlex="60">
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Description" required formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field class="padding_1" appearance="outline" fxFlex="30">
                  <mat-label>Project Status</mat-label>                
                    <mat-select formControlName="status">
                      <mat-option *ngFor="let status of projectStatus" [value]="status">
                      {{status}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> 
              </div>
            </div>
         <!--  <div fxLayouy="row" class="margin-10">
        </div> -->                        
      </div>
      <!-- end section -->
      <!-- third section -->
      <div fxFlex="30" class="padding_1">
        <div fxLayout="row"  formGroupName="projectDetails" style="place-content: space-between">
          <!-- start -->
          <div fxLayout="column">
            <mat-form-field appearance="outline"  fxLayout="row">
              <mat-label>Location</mat-label>
              <input type="text" matInput placeholder="Location" min=0 formControlName="location">
            </mat-form-field>
            <mat-form-field appearance="outline"  fxLayout="row"  >
              <mat-label>City</mat-label>
              <input type="text" name="totalUnits" matInput formControlName="blocks">
            </mat-form-field>                
            <mat-form-field appearance="outline" fxLayout="row">
              <mat-label>Total Units</mat-label>
              <input type="number" matInput [max]="50000" name="totalUnits" formControlName="totalUnit">
            </mat-form-field>
            <mat-form-field appearance="outline" fxLayout="row">
              <mat-label>Budget</mat-label>
              <input type="number" matInput formControlName="budget">
            </mat-form-field>
          </div>
          <!-- start button sectiom -->
          <div fxLayout="column" >
            <div fxLayout="row" >
              <div (click)="openDetailsDialog()" style="margin-top: 5px;" >
                <img matTooltip="Details" style="width: 35px;height: 35px;" src="assets/images/icons/Details.png" >
              </div>
              <!-- <div (click)="openPhaseDialog()" style="margin-left: 5px;"> -->
              <div  style="margin-left: 5px;">
                <img matTooltip="Phases" style="width: 45px;height: 45px;" src="assets/images/icons/Phases.png" >
              </div>
            </div>
            <div fxLayout="row" >
              <!-- <div (click)="openTeamDialog()" > -->
              <div>  
                <img matTooltip="Team" style="width: 35px;height: 35px;" src="assets/images/icons/Team.png" >
              </div>
              <!-- <div (click)="openDateDialog()" style="margin-left: 10px;"> -->
              <div  style="margin-left: 10px;">  
                <img matTooltip="Dates" style="width: 35px;height: 35px;" src="assets/images/icons/Date.png" >
              </div>
            </div>  
          </div>
        </div>
        <!-- end button section -->
      </div>
<!-- end third section -->
</div>
<div fxLayout="row">
  <button mat-raised-button>
    <span>Cancel</span>
  </button>
  <button type="submit" mat-raised-button (click)="onSubmit()">
    <span>submit</span>
  </button>
</div>
</form>
</div>
<!-- end main div -->
</mat-card>
<!-- end card section -->
</div>