.project-details-container {
    .upload-photo {
        height: 100px;
        margin: 15px;
        display: flex;
        align-items: center;
        img {
           height : auto;
           width : 75px;
            vertical-align: top;
            border: none;
        }
        .list{
            flex: 1;
            border-radius: 10px;
            height: 75px;
            margin: 10px;            

        }
    }
    .img-upload {
        width: 100%;
    }
    mat-card {
        margin: 15px;
    }
    .popup-btn {
        width: 100px;
    }
    .uploadedImg {
        height : 35px;
        width : 35px;
        vertical-align: top;
        border: none;
    }
}