<app-organisation-drop-down (selectOrganizaion)="organizationChanged($event)"></app-organisation-drop-down>
<app-top-menu></app-top-menu>
<div class="user-container">
    <mat-tab-group #tabGroup>
        <mat-tab label="Overview">
            <app-panel-header-filter [data] = "departments" (dataFilter)="dataPaginatorChange($event)"></app-panel-header-filter> 
            <div style ="place-content :center;">
                <mat-spinner style="margin:0 auto;" *ngIf="depListSpinner; else content" [diameter]="40"></mat-spinner>
            </div>
            <div fxLayout="row">
                <ng-template #content>
                    <app-expansion-panel 
                        *ngIf="selectedOrgId" 
                        [pageIndex]="pageIndex"
                        [pageSize]="pageSize"
                        [expansionPanelOptions]="departmentDataOptions" 
                        selectorComponent="app-department-details" 
                        [data]="departments" (updateRefresh)="getDepartmentData()" 
                        [isHistory]="true"
                        (openHistort)="openDialog(data)">
                    </app-expansion-panel>
                </ng-template>    
            </div>
        </mat-tab>
        <mat-tab label="New">
            <app-department-details formType="create" (tabSwitch)="tabSwitch($event)" *ngIf="selectedOrgId"></app-department-details>
        </mat-tab>
    </mat-tab-group>
</div>
