<div id="change-password" fxLayoutAlign="center center"> 
  <div id="change-password-form-wrapper"  fxLayout="row" fxLayoutAlign="center center">

    <div id="change-password-form" >
       <div class="logo-row">
        <img src="assets/images/logos/Briclay.png" alt="logo" class="logo">
      </div>       
      <form  name="changePasswordForm"  [formGroup]="changePasswordForm" novalidate>
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >Email</div>
          <div>
            <mat-form-field>
              <input matInput formControlName="email" type="email" placeholder="Enter email">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >Old Password</div>
          <div>
            <mat-form-field>
              <input matInput formControlName="password" type="password" placeholder="Enter password">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >New Password</div>
          <div>
            <mat-form-field>
              <input matInput formControlName="newPassword" type="password" placeholder="Enter new password">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button style="background-color: #2196F3; color: white;" type="submit" 
            class="submit-button"  [disabled]="isLoading || !changePasswordForm.valid" aria-label="LOG IN" >Change Password
      <!-- Material Design Spinner -->
      <div class="spinner-wrapper" *ngIf="isLoading">
        <div class="spinner">
          <div class="inner">
            <div class="gap"></div>
            <div class="left">
              <div class="half-circle"></div>
            </div>
            <div class="right">
              <div class="half-circle"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Material Design Spinner -->
      
        </button>
      </form>
    </div>
  </div>
</div>
