<div id="change-password" fxLayoutAlign="center center"> 
  <div id="change-password-form-wrapper"  fxLayout="row" fxLayoutAlign="center center">

    <div id="change-password-form" >
       <div class="logo-row">
        <img src="assets/images/logos/Briclay.png" alt="logo" class="logo">
      </div>       
      <form  name="changePasswordForm"  [formGroup]="changePasswordForm" novalidate>
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >Email</div>
          <div>
            <mat-form-field>
              <input matInput formControlName="email"  value="{{emailId}}" type="email" placeholder="Enter email">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >New Password</div>
          <div>
            <mat-form-field>
              <input matInput formControlName="password" type="password" placeholder="Enter new password">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >Comfirm Password</div>
          <div>
            <mat-form-field>
              <input matInput formControlName="confirmPassword" type="password" placeholder="Enter comfirm password">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button style="background-color: #2196F3; color: white;" type="submit" 
          class="submit-button" (click)="onchangeFormSubmit()" aria-label="CHANGE PWD" >Change Password
        </button>
      </form>
    </div>
  </div>
</div>
