<div class="work-order-container">
  <mat-tab-group>
      <mat-tab label="Overview">
          <app-panel-header-filter (selectOrganizaion)="organizationChanged($event)"></app-panel-header-filter>
          <div fxLayout="row">
            <div style ="place-content :center;">
              <mat-spinner style="margin:0 auto;" *ngIf="isLoading; else dataLoaded" [diameter]="40"></mat-spinner>
            </div>
              <ng-template #dataLoaded>
                <app-expansion-panel 
                    [expansionPanelOptions]="workOrderDataOption"
                    selectorComponent="app-work-order-details" 
                    [data]="workOrder"
                    [isHistory]="true"></app-expansion-panel>
              </ng-template>
          </div>
      </mat-tab>
      <mat-tab label="New">
          <app-work-order-details formType="create"></app-work-order-details>
      </mat-tab>
  </mat-tab-group>
</div>