<app-top-menu></app-top-menu>
<div class="work-order-container">
  <mat-tab-group>
      <mat-tab label="Overview">
        <app-panel-header-filter [data]="workOrders" (dataFilter)="dataPaginatorChange($event)"></app-panel-header-filter>
            <div style ="place-content :center;">
              <mat-spinner style="margin:0 auto;" *ngIf="isLoading; else content" [diameter]="40"></mat-spinner>
            </div>
            <div fxLayout="row">
              <ng-template #content>
                <app-expansion-panel 
                    [expansionPanelOptions]="workOrderDataOption"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    selectorComponent="app-work-order-details" 
                    [data]="workOrders"
                    [isHistory]="true" (updateRefresh)="getWorkRequest()"></app-expansion-panel>
              </ng-template>
          </div>
      </mat-tab>
      <mat-tab label="New">
          <app-work-order-details formType="create"></app-work-order-details>
      </mat-tab>
  </mat-tab-group>
</div>