<div class="user-container">
    <mat-tab-group>
        <mat-tab label="Overview">
            <app-panel-header-filter></app-panel-header-filter>
            <div fxLayout="row">
                <app-expansion-panel 
                    [expansionPanelOptions]="userDataOptions"
                    selectorComponent="app-user-details" 
                    [data]="users"
                    [isHistory]="true"></app-expansion-panel>
            </div>
        </mat-tab>
        <mat-tab label="New">
            <app-user-details formType="create"></app-user-details>
        </mat-tab>
    </mat-tab-group>
</div>