<app-organisation-drop-down (selectOrganizaion)="organizationChanged($event)"></app-organisation-drop-down>
<app-top-menu></app-top-menu>
<div class="user-container">
    <mat-tab-group #tabGroup>
        <mat-tab label="Overview">
            <app-panel-header-filter></app-panel-header-filter>
             <div style ="place-content :center;">
                <mat-spinner style="margin:0 auto;" *ngIf="loading; else content" [diameter]="40"></mat-spinner>
              </div>
            <div fxLayout="row">
                <ng-template #content>
                    <app-expansion-panel 
                         *ngIf="orgID" [expansionPanelOptions]="userDataOptions"
                        selectorComponent="app-user-details" 
                        [data]="users"
                        [isHistory]="true"></app-expansion-panel>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="New">
            <app-user-details formType="create" (tabSwitch)="tabSwitch($event)" *ngIf="orgID"></app-user-details>
        </mat-tab>
    </mat-tab-group>
</div>