<div class="file-manager-config-container">
  <mat-form-field appearance="outline">
    <mat-label>Organization</mat-label>
    <mat-select placeholder="Select Organization">
      <mat-option *ngFor="let organization of organizations" [value]="organization.value">
        {{organization.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Select Project</mat-label>
      <mat-select placeholder="Select Organization" (selectionChange)="getSingleProject($event)">
        <mat-option *ngFor="let p of projectlist" [value]="p._id">
          {{p.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" *ngIf="selectedProjectData">
      <div class="flex-grow text-center">
        Details
      </div>
      <div class="flex-grow no-border text-center">
        Car Parking
      </div>
      <div class="flex-grow text-center">
        Product
      </div>
    </div>
    <div fxLayout="row" *ngIf="selectedProjectData; else selectProject">

      <div class="flex-grow">
        <div class="project-content">
          <div class="project-details-header">
            <img src="{{selectedProjectStatus.logoImageUrl}}" width="100%" (click)="openImageSlider(selectedProjectStatus.logoImageUrl)"
            />
            <div class="project-name">
              {{selectedProjectStatus.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="flex-grow">

        <mat-form-field appearance="outline">
          <mat-label>Build Up Area</mat-label>
          <input matInput readonly [value]="selectedProjectData.projectDetails.unitNumber">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Saleable Area</mat-label>
          <input matInput placeholder="Saleable Area" readonly [value]="selectedProjectData.projectDetails.unitNumber">
        </mat-form-field>
      </div>
      <div class="flex-grow">
        <mat-form-field appearance="outline">
          <mat-label>No. of Towers</mat-label>
          <input matInput readonly [value]="selectedProjectData.projectDetails.unitNumber">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>No. of Units</mat-label>
          <input matInput readonly [value]="selectedProjectData.projectDetails.unitNumber">
        </mat-form-field>
      </div>
      <div class="flex-grow no-border">
        <mat-form-field appearance="outline">
          <mat-label>Total</mat-label>
          <input matInput readonly [value]="selectedProjectData.carParkingArea.carParkingCount">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Covered</mat-label>
          <input matInput readonly [value]="selectedProjectData.carParkingArea.coveredParkingCount">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Stack</mat-label>
          <input matInput readonly [value]="selectedProjectData.carParkingArea.coveredParkingCount">
        </mat-form-field>
      </div>
      <div class="flex-grow ">
        <mat-form-field appearance="outline">
          <mat-label>Basement</mat-label>
          <input matInput readonly [value]="selectedProjectData.carParkingArea.basementParkingCount">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Surface</mat-label>
          <input matInput readonly [value]="selectedProjectData.carParkingArea.surfaceParkingCount">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Puzzle</mat-label>
          <input matInput readonly [value]="selectedProjectData.carParkingArea.surfaceParkingCount">
        </mat-form-field>
      </div>
      <div class="flex-grow no-border">
        <app-dynamic-table *ngIf="productOption.content 
          && productOption.content.length; else noRecordTemplate" [(config)]="productOption">
        </app-dynamic-table>
        <ng-template #noRecordTemplate>
          * No Product found
        </ng-template>

      </div>
      <ng-template #selectProject>
        * Select Project
      </ng-template>
    </div>
  </mat-card>
  <div fxLayout="row" class="file-details">
    <ul class="side-nav-list file-icons">
      <li>
        <a>
          <mat-icon>view_comfy</mat-icon><br/>Land Details
        </a>
      </li>
      <li>
        <a>
          <mat-icon>view_comfy</mat-icon><br/>Architecture
        </a>
      </li>
      <li>
        <a>
          <mat-icon>view_comfy</mat-icon><br/>Structural
        </a>
      </li>
      <li>
        <a>
          <mat-icon>view_comfy</mat-icon><br/>PHE
        </a>
      </li>
      <li>
        <a>
          <mat-icon>view_comfy</mat-icon><br/>Electrical
        </a>
      </li>
    </ul>
    <div class="file-list">
      <mat-card class="margin-btm-10 list-header">
        <div fxLayout="row align-item-center" class="file-list-header">
          <div class="flex-grow ">
            Land Details
          </div>
          <div class="flex-grow no-border">
          </div>
          <div class="flex-grow no-border">
          </div>
          <div class="flex-grow no-border">
          </div>
          <div class="flex-grow no-border">
          </div>
          <div class="flex-grow no-border justify-content-center">
            <mat-icon matTooltip="Create Folder"  (click)="openFolderDialog()"class="hand-cursor margin-left-4">create_new_folder</mat-icon> 
            <mat-icon matTooltip="Upload" class="hand-cursor margin-left-4">cloud_upload</mat-icon>
          </div>
        </div>
      </mat-card>
      <div class="expansion-container">
        <spinner diameter="80" *ngIf="folderListLoading; else folderList"></spinner>
        <ng-template #folderList>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let listData of folderData" 
              [hideToggle]="true"
              (opened)="getSubFolder(listData)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <img src="assets/images/folder.png" width="10%"> {{listData.name}}
                </mat-panel-title>
                <mat-panel-title>
                  <label class="label-title">Created On</label>
                  <br/>
                  <br/>
                  <label class="label-value">{{listData.createdAt | date:'dd/MM/yyyy'}}</label>
                </mat-panel-title>
                <mat-panel-title>
                  <label class="label-title">Created By</label> {{listData.accessFlag}}
                </mat-panel-title>
                <mat-panel-title>
                  <label class="label-title">Version</label> V {{listData.__v}}
                </mat-panel-title>
                <mat-panel-title (click)="$event.stopPropagation();">
                  <mat-icon matTooltip="Details" (click)="getFileDetails(listData)"  class="margin-left-4">filter_none</mat-icon>
                  <mat-icon matTooltip="Create Folder"  (click)="openFolderDialog(listData)"class="hand-cursor margin-left-4">create_new_folder</mat-icon> 
                  <mat-icon matTooltip="Upload" class="hand-cursor margin-left-4">cloud_upload</mat-icon> 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="file-sub-folder">
                <spinner diameter="40" *ngIf="subFolderListLoading; else subFolderList"></spinner>
                <ng-template #subFolderList>
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let subListData of subFolderData" 
                      [hideToggle]="true"
                      (opened)="getFiles(subListData)">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <img src="assets/images/folder.png" width="10%"> {{subListData.name}}
                        </mat-panel-title>
                        <mat-panel-title>
                          <label class="label-title">Created On</label>
                          <br/>
                          <br/>
                          <label class="label-value">{{subListData.createdAt | date:'dd/MM/yyyy'}}</label>
                        </mat-panel-title>
                        <mat-panel-title>
                          <label class="label-title">Created By</label> {{subListData.accessFlag}}
                        </mat-panel-title>
                        <mat-panel-title>
                          <label class="label-title">Version</label> V {{subListData.__v}}
                        </mat-panel-title>
                        <mat-panel-title (click)="$event.stopPropagation();">
                          <mat-icon matTooltip="Details" (click)="getFileDetails(subListData)"  class="margin-left-4">filter_none</mat-icon>
                          <mat-icon matTooltip="Upload" class="hand-cursor margin-left-4">cloud_upload</mat-icon>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="file-sub-folder">
                        <spinner diameter="40" *ngIf="fileListLoading; else fileListData"></spinner>
                        <ng-template #fileListData>
                          <mat-card  *ngFor="let fileList of filesData" 
                          fxLayout="row" 
                          class="margin-btm-5 file-list-card"
                          (click)="getFileDetails(fileList)">
                            <div class="flex-grow">
                              <img src="{{getIcon(fileList.type,fileList.fileExt)}}" width="30%"/>
                              {{fileList.name}}
                            </div>
                            <div class="flex-grow no-border">
                              <label class="label-title">Created On</label>
                              <label class="label-value">{{fileList.createdAt | date:'dd/MM/yyyy'}}</label>
                            </div>
                            <div class="flex-grow no-border">
                              <label class="label-title">Created By</label>
                              <label class="label-value">{{fileList.createdAt | date:'dd/MM/yyyy'}}</label>
                            </div>
                            <div class="flex-grow no-border">
                              <label class="label-title">Version</label>
                              <label class="label-value">{{fileList.__v}}</label>
                            </div>
                            <div class="flex-grow no-border">
                              <mat-icon matTooltip="Details" (click)="getFileDetails(fileList)"  class="margin-left-4">filter_none</mat-icon>
                              <mat-icon matTooltip="Share" (click)="openShareDialog(fileList)"  class="margin-left-4">share</mat-icon>
                              <mat-icon matTooltip="Email"  class="margin-left-4">email</mat-icon>
                              <mat-icon matTooltip="Print"  class="margin-left-4">print</mat-icon>
                            </div>
                          </mat-card>
                        </ng-template>
                        
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </ng-template>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-template>
      </div>
    </div>
    <div class="file-sub-details">
      
      <mat-card class="margin-btm-10">
        <div *ngIf="folderDetailsData">
          <img src="{{getIcon(folderDetailsData.type,folderDetailsData.fileExt)}}" width="35"/>{{folderDetailsData.name}}
        </div>
      </mat-card>

      <mat-card class="margin-btm-10">
        <div *ngIf="folderDetailsData">
          <div fxLayout="row">
            <div class="flex-grow no-border">
              Type:
              <br/>
              Size:
              <br/>
              Project:
              <br/>
              Created By:
              <br/>
              Created On:
              <br/>
              Modified by:
              <br/>
              Modified On:
            </div>
            <div class="flex-grow no-border">
              {{folderDetailsData.type}}
              <br/>
              {{folderDetailsData.type}}
              <br/>
              {{folderDetailsData.type}}
              <br/>
              {{folderDetailsData.type}}
              <br/>
              {{folderDetailsData.createdAt | date:'dd/MM/yyyy'}}
              <br/>
              {{folderDetailsData.type}}
              <br/>
              {{folderDetailsData.createdAt | date:'dd/MM/yyyy'}}
            </div>

          </div>
        </div>
      </mat-card>

    </div>
  </div>

</div>