.panel-header {
    &.mat-card {
        padding: 3px 10px;
        margin: 10px;
    }
    .panel-left {
        margin-top: 10px;
    }
    
}
mat-paginator {
    display: inline-block;
}
mat-paginator.mat-paginator {
    display: inline-block;
}