<div style="height: 350px;">
	<mat-card fxLayout="row" style="place-content: space-between;color: #032a57cf !important;    border-radius: 11px;font-weight: 600 !important;opacity: 0.7;" >
		<div>File Name</div>
		<div style="margin-left: 81px;">Upload Percent</div>
		<div>Status</div>
	</mat-card>
	<!-- <div *ngFor="let x of fileUploaded">{{x}}</div> -->
	<div *ngFor="let v of data" fxLayout="row"  style="place-content: space-between;border-bottom: .5px solid rgb(189, 188, 188);border-radius: 10px;flex-direction: row;box-sizing: border-box;display: flex;margin-top: 4px;">
		<div fxLayout="row">
			<div style="width: 219px;overflow: -webkit-paged-y; font-family: 'Montserrat', sans-serif !important;
			font-size: 13px;margin-left: 10px;
			margin-top: 3px;">{{v.name}}</div>
			<div style="margin-left: 85px; font-family: 'Montserrat', sans-serif !important;
			font-size: 13px;margin-top: 3px;">
			<span style="font-weight: 600;">Upload Percent: {{percentDone}}% </span>
		</div>
		<div *ngIf="uploadSuccess" style=" font-family: 'Montserrat', sans-serif !important;
		font-size: 13px;margin-top: 3px;">
		<ng-container >
			Upload Successful
		</ng-container> 
	</div>
	<br />
</div>
</div>
<div fxLayout=row style="margin-top: 7px;">
	<div fxLayout=column style="align-items: center;margin-left: 492px; " class="hand-cursor" (click)="close()">
		<img style="height: 30px;width: 30px;" src="assets/images/icons/close_red.png" />
		<span style="font-size: 13px;">Cancel</span>
	</div>
	<div fxLayout=column class="hand-cursor" style="align-items: center;margin-left: 36px;" (click)="save()">
		<img style="height: 30px;" src="assets/images/icons/submitIcon.png" />
		<span style="font-size: 13px;">Submit</span>
	</div>
</div>
</div>

