<div class="issue-tracker-details-container">
  <div style ="place-content :center;">
    <mat-spinner style="margin:0 auto;" *ngIf="loading" [diameter]="20"></mat-spinner>
  </div>
  <form [formGroup]="issueTrackerCreateForm" class="issue-tracker-details-form">
    <mat-card>
      <div class="issue-tracker-details-card">
        <div class="issue-tracker-details-name" fxFlex="20">
          <mat-form-field appearance="outline">
            <mat-label>Project</mat-label>
            <mat-select placeholder="Select project" (selectionChange)="selectProject($event.value)">
              <mat-option *ngFor="let projectName of projects" [value]="projectName">
                {{projectName.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 200px;">
            <mat-label>ID #</mat-label>
            <input matInput formControlName="issueCode">
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <mat-label>Reference ID#</mat-label>
            <mat-select placeholder="Select reference" formControlName="refId">
              <mat-option *ngFor="let referenceId of allIssuesCodes" [value]="referenceId.name">
                {{referenceId.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 200px;">
            <mat-label>Issue Type</mat-label>
            <input matInput formControlName="type">
          </mat-form-field>
        </div>
        <div class="issue-tracker-details-content" fxFlex="60">
          <div class="issue-tracker-details-form-list" >
            <div fxLayout=row style="place-content: space-around">
              <div fxLayout=column >
                <mat-form-field appearance="outline" style="width: 250px;">
                  <mat-label>Created By</mat-label>
                  <input matInput formControlName="createdBy" readonly>
                </mat-form-field>
                <mat-form-field  appearance="outline" style="width: 250px;">
                  <mat-label>Created Date</mat-label>
                  <input matInput readonly [matDatepicker]="picker2" placeholder="" formControlName="createdAt">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 250px;"  >
                  <mat-label>Description</mat-label>
                  <textarea rows=3 matInput formControlName="description"></textarea>
                </mat-form-field> 
              </div>
              <div fxLayout=column >
                <mat-form-field appearance="outline" style="width: 250px;">
                  <mat-label>Department</mat-label>
                  <mat-select placeholder="" (selectionChange)="selectDepartment($event.value)">
                    <mat-option *ngFor="let departmentName of depratmentLists" [value]="departmentName" >
                      {{departmentName.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field  appearance="outline" style="width: 250px;">
                  <mat-label>Date of Completion</mat-label>
                  <input matInput [min]="dateOfCompletionFilter" [matDatepicker]="picker3" placeholder="" formControlName="dateOfCompletion">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 250px;"  >
                  <mat-label>Remarks</mat-label>
                  <textarea  rows=3 matInput formControlName="remark" ></textarea>
                </mat-form-field> 
              </div>
            </div>
          </div>
        </div>
        <div class="issue-tracker-details-content" fxFlex="20">
          <div class="issue-tracker-details-form-list">
            <form [formGroup]="commentformGroup">
              <div  FormGroupName="comments">
                <div fxLayout=column>
                  <mat-form-field appearance="outline">
                    <mat-label>Sub Type</mat-label>
                     <mat-select placeholder="" formControlName="subType">
                      <mat-option *ngFor="let sType of allIssuesType" [value]="sType.name" >
                        {{sType.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" *ngIf="userDropdownEnable">
                    <mat-label>Assigned To</mat-label>
                    <mat-select placeholder="Select user" (selectionChange)="selectedUser($event.value)">
                      <mat-option *ngFor="let assignedName of users" [value]="assignedName">
                        {{assignedName.name.first }} {{assignedName.name.last}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div fxLayout=row class="pull-right" > 
        <div fxLayout=column style="align-items: center;">
          <img style="height: 30px;width: 30px;" src="assets/images/icons/close_red.png" />
          <span>Cancel</span>
        </div>
        <div fxLayout=column class="hand-cursor" style="align-items: center;margin-left: 20px;"  (click)="onFormSubmit()">
          <img style="height: 30px;" src="assets/images/icons/submitIcon.png" />
          <span>Save</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>