<div class="issue-tracker-details-container">
  <div class="spiner_div">
    <mat-spinner style="margin:0 auto;" *ngIf="loading" [diameter]="40"></mat-spinner>
  </div>
  <form [formGroup]="issueTrackerCreateForm" class="issue-tracker-details-form">
    <mat-card style="height: 17em;">
      <div class="issue-tracker-details-card">
        <div class="issue-tracker-details-name" fxFlex="15"  style="margin-top: 4px;">
          <mat-form-field appearance="outline" style="width: 150px;">
            <mat-label>Project</mat-label>
            <mat-select placeholder="Select project" (selectionChange)="selectProject($event.value)">
              <mat-option *ngFor="let projectName of projects" [value]="projectName">
                {{projectName.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline"  style="width: 150px;" >
            <mat-label>ID #</mat-label>
            <input matInput readonly formControlName="issueCode">
          </mat-form-field>
          <mat-form-field appearance="outline"  style="width: 150px;">
            <mat-label>Reference ID#</mat-label>
            <mat-select placeholder="Select reference" formControlName="refId">
              <mat-option *ngFor="let referenceId of allIssuesCodes" [value]="referenceId.name">
                {{referenceId.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         <!--  <mat-form-field appearance="outline" style="width: 150px;">
            <mat-label>Department</mat-label>
            <mat-select placeholder="" (selectionChange)="selectDepartment($event.value)">
              <mat-option *ngFor="let departmentName of depratmentLists" [value]="departmentName" >
                {{departmentName.name }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div style="margin-left: 0px; border-left: 1px solid lightgrey;height: 237px"  fxLayout="column"  fxFlex="17">
          <div class="issue-tracker-details-form-list" style="width: 0%" >
            <div fxLayout=row style="width: 0%">
              <div fxLayout=column >
               <mat-form-field appearance="outline" style="width: 150px;margin-left: 22px;">
                  <mat-label>Issue Type</mat-label>
                  <input matInput formControlName="type">
                </mat-form-field>
               <mat-form-field  appearance="outline" style="width: 150px;margin-left: 22px;">
                  <mat-label>Date of Completion</mat-label>
                  <input matInput [min]="dateOfCompletionFilter" [matDatepicker]="picker3" placeholder="" formControlName="dateOfCompletion">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 150px;margin-left: 22px;"  >
                  <mat-label>Description</mat-label>
                  <textarea style="height:20px" matInput formControlName="description"></textarea>
                </mat-form-field>
                 <mat-form-field appearance="outline" style="width: 150px;margin-left: 22px;">
                  <mat-label>Remarks</mat-label>
                  <textarea  style="height:20px" matInput formControlName="remark" ></textarea>
                </mat-form-field> 
              </div>
               
            </div>
          </div>
        </div>
        <div style="margin-left: 5px; border-left: 1px solid lightgrey;"  fxLayout="row"  fxFlex="65" >
          <div class="issue-tracker-details-form-list" style="height: 140px;margin-top: 10px;overflow: auto">
             <form [formGroup]="commentformGroup">
              <div 
                *ngFor="let comment of issueTrackerCreateForm.value.comments;" >
                <div  fxLayout="row"> 
                  <mat-form-field  appearance="outline" style="width: 140px;margin-right: 10px;margin-top: 6px;">
                    <mat-label>Completion Date</mat-label>
                    <input  matInput [min]="myFilter" [matDatepicker]="comDate" placeholder="Completion Date" formControlName="completionDate" [(value)]="comment.completionDate">
                      <mat-datepicker-toggle matSuffix [for]="comDate"></mat-datepicker-toggle>
                      <mat-datepicker  #comDate></mat-datepicker>
                  </mat-form-field>
                <!--   <span style="display: inline-flex;
                        height: 14px;
                        width: 120px;
                        margin-right: 6px;
                        position: relative;
                        border: 1px solid #8080804a;
                        border-radius: 3px;
                        margin-top: 11px;
                        color: #808080;
                        padding: 8px 6px 4px 9px;">
                      <span (click)="userSelectDialog()" >
                        <span style="  display: inline-block;
                        position: absolute;
                        top: -15px;
                        display: inline-table;
                        background-color: white;
                        font: 400 10px 'Montserrat', sans-serif !important;
                        height: 16px;">Assigned To</span>
                        <div style="display:inline-flex;" *ngIf="assignUserFlag ">
                          <span style=" color:#000000c9;
                          font: 400 13px 'Montserrat', sans-serif !important;"> {{ selectedUserData && selectedUserData.userName
                          && selectedUserData.userName.first}}</span>&nbsp;
                                 <span style=" color:#000000c9;
                          font: 400 13px 'Montserrat', sans-serif !important;"> {{ selectedUserData && selectedUserData.userName
                          && selectedUserData.userName.last}}</span>
                        </div>
                      </span>
                    </span>  --> 
                   <!--  <mat-form-field (click)="userSelectDialog()" appearance="outline" style="width: 150px;margin-left: 22px;">
                      <mat-label>Assigned To</mat-label>
                      <input style="height:20px" readonly matInput formControlName="assignedName"  >
                    </mat-form-field> -->
                    <mat-form-field appearance="outline" style="width:140px;margin-right:5px;margin-top: 8px;">
                      <mat-label>Department</mat-label>
                      <mat-select placeholder="" (selectionChange)="selectDepartment($event.value)" formControlName="departmentName">
                        <mat-option *ngFor="let depN of depratmentLists" [(value)]="depN" >
                          {{depN.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" (click)="checkDep($event.value)" style="width:140px;margin-right:5px;margin-top: 8px;">
                      <mat-label>Assigned To</mat-label>
                      <mat-select  placeholder="Select user" (selectionChange)="selectedUser($event.value)" formControlName="assignedTo" >
                        <mat-option *ngFor="let user of users" [(value)]="user._id" >
                          {{user.name.first }} {{user.name.last}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field  appearance="outline" style="width:140px;margin-right:5px;margin-top: 6px;">
                      <mat-label>Actual Completion Date</mat-label>
                      <input  matInput [min]="myFilter" [(value)]="comment.comments" [matDatepicker]="actualCD" placeholder="Completion Date" formControlName="actualCompletionDate">
                        <mat-datepicker-toggle matSuffix [for]="actualCD"></mat-datepicker-toggle>
                        <mat-datepicker #actualCD></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 140px;margin-right: 5px;margin-top: 6px;">
                      <mat-label>Comments</mat-label>
                      <textarea  matInput [(value)]="comment.comments" formControlName="comments" style="height: 20px"></textarea>
                    </mat-form-field>
                </div> 
              </div>
            </form>
          </div>
          <!-- <div class="issue-tracker-details-form-list" fxLayout="row">
           <div [formGroup]="createCommentformGroup">
              <div >
                <div *ngFor="let comment of commentsArray;">
                  <div  fxLayout="row">
                    <mat-form-field  appearance="outline" style="width:164px;margin-right: 5px;">
                      <mat-label>Completion Date</mat-label>
                      <input  matInput  [min]="myFilter" [(value)]="comment.completionDate" [matDatepicker]="picker1" placeholder="Completion Date" formControlName="completionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <span style="display: inline-flex;
                        height: 14px;
                        width: 120px;
                        margin-right: 6px;
                        position: relative;
                        border: 1px solid #8080804a;
                        border-radius: 3px;
                        color: #808080;
                        padding: 8px 6px 4px 9px;">
                      <span (click)="userSelectDialog()" >
                        <span style="  display: inline-block;
                        position: absolute;
                        top: -15px;
                        display: inline-table;
                        background-color: white;
                        font: 400 10px 'Montserrat', sans-serif !important;
                        height: 16px;">Assigned To</span>
                        <div style="display:inline-flex;" *ngIf="selectedUserData !== {} ">
                          <span style=" color:#000000c9;
                      font: 400 13px 'Montserrat', sans-serif !important;"> {{selectedUserData && selectedUserData.userName.first}}</span>&nbsp;
                             <span style=" color:#000000c9;
                      font: 400 13px 'Montserrat', sans-serif !important;"> {{ selectedUserData && selectedUserData.userName.last}}</span>
                        </div>
                      </span>
                    </span>  
                    <mat-form-field  appearance="outline" style="width:209px;margin-right:5px;">
                      <mat-label>Actual Completion Date</mat-label>
                      <input  matInput [min]="myFilter" [(value)]="comment.actualCompletionDate" [matDatepicker]="picker4" placeholder="Completion Date" formControlName="actualCompletionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width:180px;margin-right: 5px;">
                      <mat-label>Comments</mat-label>
                      <textarea  matInput [(value)]="comment.comments" formControlName="comments" style="height:20px"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
       <br>
          
      </div>
      <div fxLayout=row class="pull-right" style="margin-top: -50px;">
      <div fxLayout=column class="hand-cursor" style="align-items: center;margin-left: 20px;" (click)="addComments() " >
        <img style="height: 30px;width: 30px;" src="assets/images/icons/Add.png" />
        <span>Add</span>
      </div> 
        <div fxLayout=column style="align-items: center;margin-left: 19px;" (click)="onFormCancel()" >
          <img style="height: 30px;width: 30px;" src="assets/images/icons/close_red.png" />
          <span>Cancel</span>
        </div>
        <div fxLayout=column class="hand-cursor" style="align-items: center;margin-left: 20px;"  (click)="onFormSubmit()">
          <img style="height: 30px;" src="assets/images/icons/submitIcon.png" />
          <span>Save</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>