<div fxLayout="row" >
  <mat-card class="header-shadow" style="display: inline;flex :1;height: 3px;">
    
    <div fxLayout=row style="place-content: space-around;margin-top: -11px;margin-right: 8em;
      float: right;" >
      <div fxLayout=row style="place-content: space-around;" class="hand-cursor" style="margin-right: 112px;">
        <img style="height: 25px;width: 25px;" src="/assets/images/icons/projects_Active.png">
        <a routerLink="/dashboard/projects" style="text-decoration: none;">
          <div class="tab-btn" style="margin-left:10px;" > Projects</div>
        </a>
      </div>
      <div fxLayout=row style="place-content: space-around;" class="hand-cursor" style="margin-right: 112px;">
        <img style="height: 35px;width: 35px;margin-top: -5px;" src="/assets/images/icons/File_Manager_Active.png">
        <a routerLink="/dashboard/file-manager" style="text-decoration: none;">
          <div class="tab-btn" >File Manager</div>
        </a>
      </div>
      <div fxLayout=row style="place-content: space-around;" class="hand-cursor">
        <img style="height: 25px;width: 25px;" src="/assets/images/icons/Work_Request _active.png">
        <a routerLink="/dashboard/ncm" style="text-decoration: none;">
          <div class="tab-btn" style="margin-left:10px;" >Ncm</div>
        </a>
      </div>
    </div>
  </mat-card>
</div>

<div class="user-container">
   <mat-tab-group #tabGroup>
      <mat-tab label="Overview">
        <mat-card>
          <div [formGroup]="bpdListForm">
            <div fxLayout="row" *ngFor="let v of bpdLists; let i=index;" >
              <div>
                <mat-form-field appearance="outline" style="width: 180px; margin: 2px;">
                  <mat-label>Process Areas</mat-label>
                  <input matInput formControlName="process"  [value]="v.process">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" style="width: 180px;margin: 2px;">
                  <mat-label>BPD/ID</mat-label>
                  <input matInput formControlName="bpdNumber"  [value]="v.bpdNumber">
                </mat-form-field>
              </div>
              <div class="user-details-form-list"  fxLayout="row">
                <div formGroupName="pointOfContact" (click)="openDetailsDialogPointOfContact(v,i)">
                  <mat-form-field class="margin_right_25" appearance="outline" style="width: 170px;margin: 2px;">
                    <mat-label>Point Of Contact(Name)</mat-label>
                    <input matInput formControlName="name"  [value]="v.pointOfContact.name " readonly>
                  </mat-form-field>
                  <mat-form-field class="margin_right_25" appearance="outline" style="width: 170px;margin: 2px;">
                    <mat-label>Point Of Contact(Email)</mat-label>
                    <input matInput formControlName="email"  [value]="v.pointOfContact.email" readonly>
                  </mat-form-field>
                </div>
                <div formGroupName="processOwner" (click)="openDetailsDialogProcessOwner(v,i)">
                  <mat-form-field appearance="outline" style="width: 170px; margin: 2px;margin-right: 13px">
                    <mat-label>Process Owner(Name)</mat-label>
                    <input matInput formControlName="name" [value]="v.processOwner.name"  readonly>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 170px; margin: 2px;margin-right: 13px">
                    <mat-label>Process Owner(Email)</mat-label>
                    <input matInput formControlName="email" [value]="v.processOwner.email"  readonly>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout=row class="pull-right">
               <!--  <div fxLayout=column  class="hand-cursor"  (click)="onAdd()" style="
                margin-right: 10px;">
                  <img style="height: 30px;" src="assets/images/icons/Add.png" />
                  <span >Add</span>
                </div> -->
               <!--  <div fxLayout=column class="hand-cursor" style="
                margin-right: 10px;">
                  <img style="height: 30px;width: 30px;" src="assets/images/icons/close_red.png" />
                  <span>Cancel</span>
                </div> -->
                <div fxLayout=column class="hand-cursor" style="align-items: center;" (click)="onSubmit(v)">
                  <img style="height: 25px;width: 25px;" src="assets/images/icons/submitIcon.png" />
                  <span style="font-size: 12px;text-align: center;">Update</span>
                </div>
                
              </div>
            </div>
            <div *ngIf="bpdLists.length == 0">
              <div style="font-size: 14px;"></div>
            </div>
          </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="New">
      <app-bpd-list-create formType="create" (tabSwitch)="tabSwitch($event)" ></app-bpd-list-create>
    </mat-tab>
    </mat-tab-group>
</div>
<!-- <div fxLayout="row" *ngFor="let v of bpdListArray" [formGroup]="addForm">
              <div>
                <mat-form-field appearance="outline" style="width: 150px; margin: 2px;">
                  <mat-label>Process Areas</mat-label>
                  <input matInput formControlName="process" required >
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" style="width: 182px;margin: 2px;">
                  <mat-label>BPD/ID</mat-label>
                  <input matInput formControlName="bpdNumber" required >
                </mat-form-field>
              </div>
              <div class="user-details-form-list" (click)="openDetailsDialog()" fxLayout="row">
                <div formGroupName="pointOfContact">
                  <mat-form-field class="margin_right_25" appearance="outline">
                    <mat-label>Point Of Contact(Name)</mat-label>
                    <input matInput formControlName="name" required  readonly>
                  </mat-form-field>
                  <mat-form-field class="margin_right_25" appearance="outline">
                    <mat-label>Point Of Contact(Email)</mat-label>
                    <input matInput formControlName="email" required  readonly>
                  </mat-form-field>
                </div>
                <div formGroupName="processOwner">
                  <mat-form-field appearance="outline" style="width: 169px; margin: 2px;margin-right: 13px">
                    <mat-label>Process Owner(Name)</mat-label>
                    <input matInput formControlName="name" required readonly>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 169px; margin: 2px;margin-right: 13px">
                    <mat-label>Process Owner(Email)</mat-label>
                    <input matInput formControlName="email" required readonly>
                  </mat-form-field>
                </div>
              </div>
            </div> -->