.user-details-container {
padding: 10px;




}  
.mat-card {
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;
position: relative;
padding: 16px;
border-radius: 7px;
}
.mat-card[_ngcontent-c15] {
transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
position: relative;
padding: 14px;
border-radius: 7px;
}
.text_color{
font: 600 12px Roboto,"Helvetica Neue",sans-serif;
color: #032A57;
}
table {
width: 100%;
}
table {
width: 100%;
}

.processs{
	    width: 168px;
    margin-right: 9px;
}
.bpd{
	    width: 191px;
    margin-right: 10px;
}
.owner{
	width: 169px;
	 
	 margin-right: 13px
}
.owner_email{
	width: 169px;
	
	 margin-right: 13px
}



.example-container {
display: flex;
flex-direction: column;
}

.example-container > * {
width: 86%;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
margin: -2.7px 0;
}
