<div class="dialog-container">
  <h1 mat-dialog-title>Share via Mail</h1>
  <div mat-dialog-content>
    <div>
      <span *ngIf="userLoading; else userTemplate"></span>
      <ng-template #userTemplate>
        <form [formGroup]="dailogForm">
          <mat-form-field appearance="outline">
            <mat-label>Select Users</mat-label>
            <mat-select placeholder="Departments" (selectionChange)="userChanged($event)">
              <mat-option *ngFor="let user of users" [value]="user">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- for message -->
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Message" formControlName="message"></textarea>
          </mat-form-field>
        </form>
      </ng-template>
    </div>
    <div class="">
      <mat-error *ngIf="sharedFileError">
        * {{sharedFileError.message}}
      </mat-error>
      <button mat-button class="margin-10px-round" (click)="shareMail()">Share</button>
      <button mat-button class="btn" (click)="onCloseCancel()">Cancel</button>
    </div>
  </div>
</div>