<div class="user-details-container">
  <form [formGroup]="organizationDetailsForm" (ngSubmit)="onSubmit()" class="user-details-form">
    <mat-card>
      <div class="user-details-card">
        <div class="user-details-name">
          <img src="./assets/images/backgrounds/autumn.jpg" />
          <div class="username-input" >
            <mat-form-field appearance="outline">
              <mat-label>Orgnisation Name</mat-label>
              <input matInput formControlName="orgName">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Orgnisation Address</mat-label>
              <input matInput formControlName="orgAddress">
            </mat-form-field>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong> Subsciption</strong>
          </div>
          <div class="user-details-form-list">
            <div formGroupName="subsciption">
              <mat-form-field appearance="outline">
                <mat-label>Plan</mat-label>
                <mat-select placeholder="Plan">
                  <mat-option *ngFor="let plan of plans" [value]="plan">
                    {{plan}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button [matMenuTriggerFor]="menu" class="margin-left-4" mat-raised-button class="feature_btn" 
              >Features</button>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Details</strong>
          </div>
          <div class="user-details-form-list">
            <div formGroupName="details">
              <mat-form-field appearance="outline">
                <mat-label>Admin</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="Address"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Entities</strong>
          </div>
          <div class="user-details-form-list" fxLayout=column>
            <div formGroupName="entities" >
              <div fxLayout=row style="margin-bottom: 10px;">
                <img style="height: 50px;width: 100px;" src="./assets/images/backgrounds/autumn.jpg" />
                <mat-form-field appearance="outline">
                  <input matInput formControlName="subOrgName">
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Add Entity</mat-label>
                <input matInput formControlName="subOrgcount">
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 200px;">
                <mat-label>Valid till</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="" formControlName="validtill">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <button mat-raised-button type="submit"  class="pull-right">Submit</button>

      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>
<mat-menu #menu="matMenu">
  <div class="feature_container">
    <div class="title">Feature</div>
    <div>
      <div style="margin-top: 6%;" >
          <div *ngFor="let feature of allFeatures">
            <div fxLayout=row >
              <div style=" border-bottom: black 1px solid;">
                <mat-checkbox ><span class="message">{{feature}}</span></mat-checkbox>
              </div>
            </div>
           </div>
        </div>
    </div>
  </div>
</mat-menu>