<div class="user-details-container">
  <div [formGroup]="organizationDetailsForm" class="user-details-form">
    <mat-card>
      <div class="user-details-card">
        <div class="user-details-name">
          <div >
            <a (click)="fileInput.click()" fxLayout="column">
              <img src="{{filePath}}" class="img-upload" width="59%">
              <input #fileInput type="file" (change)="onFileInput($event)"  style="display:none;" />
            </a>
          </div>
          <div class="username-input" >
            <mat-form-field appearance="outline">
              <mat-label>Orgnisation Name</mat-label>
              <input matInput formControlName="name" (keyup)="generateOrgCode()">
            </mat-form-field>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong> Subsciption</strong>
          </div>
          <div class="user-details-form-list">
            <div formGroupName="subscription">
              <mat-form-field appearance="outline">
                <mat-label>Plan</mat-label>
                <mat-select placeholder="Plan">
                  <mat-option *ngFor="let plan of plans" [value]="plan">
                    {{plan}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 200px;">
                <mat-label>Valid till</mat-label>
<!--                 <input matInput formControlName="validTill">
 -->                <input matInput [matDatepicker]="picker1" placeholder="" formControlName="validTill">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <button (click)="openDialogFeature()" class="margin-left-4" mat-raised-button class="feature_btn" 
              >Features</button>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Details</strong>
          </div>
          <div class="user-details-form-list">
            <div >
              <mat-form-field appearance="outline">
                <mat-label>Admin</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>

              <div formGroupName="address">
                <mat-form-field appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="city">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Entities</strong>
          </div>
          <div class="user-details-form-list" fxLayout=column>
            <!-- <div >
              <div fxLayout=row style="margin-bottom: 10px;">
                <img style="height: 50px;width: 100px;" src="./assets/images/backgrounds/autumn.jpg" />
                <mat-form-field appearance="outline">
                  <input matInput formControlName="orgType">
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline" style="width: 200px;">
                <mat-label>Valid till</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="" formControlName="orgCode">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div> -->
          </div>
        </div>
      </div>

      <button mat-raised-button type="submit"  (click)="onOrgFormSubmit()" class="pull-right">Submit</button>

      <div class="clearfix"></div>
    </mat-card>
  </div>
</div>