<app-organisation-drop-down (selectOrganizaion)="organizationChanged($event)"></app-organisation-drop-down>
<app-top-menu></app-top-menu>
<div class="user-container">
  <mat-tab-group #tabGroup>
    <mat-tab label="Overview" >
      <app-panel-header-filter></app-panel-header-filter>
      <spinner diameter="80" class="text-center" *ngIf="orgListSpinner; else content"></spinner>
      <div fxLayout="row">
        <ng-template #content>
          <app-expansion-panel 
            *ngIf="selectedOrgId" [expansionPanelOptions]="organisationDataOptions" 
            selectorComponent="app-organisation-details" 
            [data]="organisations"
            [isHistory]="true"
            (openHistort)="openDialog(data)">
          </app-expansion-panel>
        </ng-template>
      </div>
    </mat-tab>
    <mat-tab label="New">
      <app-organisation-details formType="create" (tabSwitch)="tabSwitch($event)" *ngIf="selectedOrgId"></app-organisation-details>
    </mat-tab>
  </mat-tab-group>
</div>