<div >
    <mat-tab-group>
       <mat-tab label="Overview" >
       	<div  class="list-row" *ngFor="let data of orgData; let i = index;">
       		<div>
       		
	        	<mat-accordion >
				  		<mat-expansion-panel>
				    		<mat-expansion-panel-header>
				      	<mat-panel-title>
				      		<div fxFlex=20 style="flex-direction: column;">
						        <span class="color_dark_blue font-size-12 font-weight-700">{{data.orgName}}</span>
						        <div class="color_light_blue font-size-12">{{data.orgAddress}}</div>
						      	</div>
					        <div class="line_small"></div>
					      	<div fxFlex=20 fxLayoutAlign="space-between center">
						        <div>
						        	<span class="color_light_blue font-size-12">Plan</span>
						        </div>
						        <div>
						        	<span class="color_dark_blue font-size-12 font-weight-700">{{data.subsciption.plan}}</span>
						        </div>
					      	</div>
					      	<div class="line_small"></div>
					      	<div fxFlex=20 fxLayoutAlign="space-between center">
						        <div>
						        	<span class="color_light_blue font-size-12">Valid till</span>
						        </div>
						        <div>
						        	<span class="color_dark_blue font-size-12 font-weight-700">{{data.entities.validtill}}</span>
						        </div>
					      	</div>
					      	<div class="line_small"></div>
					      	<div fxFlex=40 fxLayoutAlign="space-between center">
						        <div>
						        	<span class="color_light_blue font-size-12">Entities</span>
						        </div>
						        <div>
						        	<span class="color_dark_blue font-size-12 font-weight-700">{{data.entities.count}}</span>
						        </div>
					      	</div>
					    </mat-panel-title>
							</mat-expansion-panel-header>
						    <mat-card>
						      	<div class="card_container">
					      			<div class="card_container_inside" fxFlex=20>
					      				<img class="org_logo" src="/assets/images/logos/mat_logo.jpg">
						      		 	<div class="color_dark_blue font-size-12 font-weight-700">
						      		 		{{data.orgName}}
						      		 	</div>
								        <div class="color_light_blue font-size-12">{{data.orgAddress}}</div>
							      	</div>	
							      	<div class="line_large"></div>
							      	<div fxLayout=column class="subs-div" fxFlex=20>
							      		<div fxLayout=row class="subs_margin">
							      			<span class="color_head font-size-12 font-weight-700">Subsciption</span>
							      		</div>
							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<span class="color_light_blue font-size-12">Plan</span>
									        </div>
									        <div class="margin_right_25">
												  		<mat-form-field style="width:84px;" *ngIf="editPreminumFlag">
															  <select matNativeControl required>
															    <option class="color_dark_blue" value="Basic">Basic</option>
															    <option class="color_dark_blue" value="Standard">Standard</option>
															    <option class="color_dark_blue" value="Premium">Premium</option>
															    <option class="color_dark_blue" value="Enterprise">Enterprise</option>
															  </select>
															</mat-form-field>
										        	<span *ngIf="!editPreminumFlag" class="color_dark_blue font-size-12 font-weight-700">{{data.subsciption.plan}}</span>
										        	<mat-icon class="edit-icon" (click)="editPreminum(i)">edit</mat-icon>
									        </div>
							      		</div>
							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div style="margin-top: 5px;">
								        		<span class="color_light_blue font-size-12">Valid till</span>
									        </div>
									        <div fxLayout=row class="margin_right_25">
									        	<mat-form-field>
												  <input matInput [matDatepicker]="picker" placeholder="{{data.entities.validtill}}" class="color_dark_blue font-size-12 font-weight-700">
												  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
												  <mat-datepicker #picker></mat-datepicker>
												</mat-form-field>
									        </div>
							      		</div>
							      		<button class="margin-left-4" mat-raised-button class="feature_btn" 
							      		(click)="getFeatureDropdown(i)">Features</button>
												  <mat-select *ngIf="getFeatures" class="btn_margin">
												    <mat-option *ngFor="let f of features" >
												      <mat-checkbox>{{f.viewValue}}</mat-checkbox>
												    </mat-option>
												  </mat-select>
							      	</div>
							      	<div class="line_large"></div>
							      	<div fxLayout=column class="margin_top_25" fxFlex=20>
							      		<div fxLayout=row class="details_margin">
							      			<span class="color_head font-size-12 font-weight-700">Details</span>
							      		</div>
							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<span class="color_light_blue font-size-12">Admin</span>
									        </div>
									        <div class="margin_right_25">
									   			 	<mat-form-field style="width: 90px;" *ngIf="editAdminFlag">
												    		<input matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.details.email}}">
												  		</mat-form-field>
										        	<span *ngIf="!editAdminFlag" class="color_dark_blue font-size-12 font-weight-700">{{data.details.email}}</span>
										        	<mat-icon class="edit-icon" (click)="editAdmin(i)">edit</mat-icon>
									        </div>
							      		</div>
							      		<div style="margin-top: 16px;" fxLayout=row fxLayoutAlign="space-between center">
								      		<div >
								        		<span class="color_light_blue font-size-12">Address</span>
									        </div>
									        <div class="margin_right_25">
									        	<mat-form-field style="width: 90px;" *ngIf="editAddressFlag">
												    		<textarea matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.orgAddress}}"></textarea>
												  		</mat-form-field>
										        	<span *ngIf="!editAddressFlag" class="color_dark_blue font-size-12 font-weight-700">{{data.orgAddress}}</span>
										        	<mat-icon class="edit-icon" (click)="editAddress(i)">edit</mat-icon>
									        </div>
							      		</div>
							      	</div>
							      	<div class="line_large"></div>
							      	<div fxLayout=column style="margin-top: 25px;" fxFlex=40>
							      		<div fxLayout=row class="entity_margin">
							      			<span class="color_head font-size-12 font-weight-700">Entities</span>
							      		</div>
							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<img class="pro_logo" src="/assets/images/logos/mat_logo.jpg">
									        </div>
									        <div>
									        	<span class="color_light_blue font-size-12">Valid till</span>
									        </div>
									        <div fxLayout=row class="margin_right_25">
									        	<mat-form-field>
												  <input matInput [matDatepicker]="picker2" placeholder="{{data.entities.validtill}}" class="color_dark_blue font-size-12">
												  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
												  <mat-datepicker #picker2></mat-datepicker>
												</mat-form-field>
									        </div>
							      		</div>
							      	</div>
						      </div>
					      	</mat-card>
						  </mat-expansion-panel>
						</mat-accordion></div>
	      </div>
      	</mat-tab>
       <mat-tab label="New">
        New
      </mat-tab>
    </mat-tab-group>
</div>