<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start" style="position: fixed;width: -webkit-fill-available;
height: -webkit-fill-available;">
<div id="login-intro" fxFlex fxHide fxShow.gt-xs fxLayout="column" style="position: initial;">
  <div class="logo" >
    <img src="assets/images/logos/Puravankara.png" style="width: 436px;">
  </div>
  <div class="title" style="color: white;">
    Welcome!
  </div>
  <div class="logo_div" style="position: relative;bottom: -19em;left: -79px; color: white">
    <span style="font-size: 10px;">Powered by</span>
    <img src="assets/images/logos/Briclay.png" alt="logo_bri" class="logo_bri" style="width: 53px;margin-left: 6px;">
  </div>   
</div>
<mat-card style="height: auto;width: auto;">
  <div id="login-form-wrapper" fusePerfectScrollbar>
    <div id="login-form" style="position: fixed;height: auto;width: auto;">
      <div class="logo" fxHide.gt-xs>
        <img src="assets/images/logos/Puravankara.png">
      </div>
      <div class="title">RESET YOUR PASSWORD</div>
      <form name="resetPwdform"  [formGroup]="resetPwdform" novalidate>
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput  formControlName="password" type="password" placeholder="eg:Xxx@123" style="padding: 10px;width: 264px;margin-top: 3px;" ngModel passwordToggle required>
          <!-- <mat-icon matSuffix class="secondary-text">mail</mat-icon> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" placeholder="Enter Confirm password" style="padding: 10px;width: 264px;margin-top: 3px;" ngModel passwordToggle required>
          <!--  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon> -->
        </mat-form-field>
        <div class="error-msg" *ngIf="resetPwdform.value.password !== resetPwdform.value.confirmPassword" style="margin-top: -8px;margin-bottom: 13px;font-size: 11px;color: red;font-family: 'Montserrat', sans-serif !important;">
          Passwords don't match.
        </div>
      <button mat-raised-button style="background-color: #2196F3;margin-right: 15px; color: white;margin-left:78px;"  aria-label="cancel" (click)="cancel()">Cancel </button>
     <button (click)="onresetPwdformSubmit()" mat-raised-button style="background-color: #2196F3; color: white;" aria-label="reset" >Reset 
          </button>
  </form>
</div>
</div>
</mat-card>
</div>
