<div id="forgot" fxLayoutAlign="center center">
  <div id="forgot-form-wrapper"  fxLayout="row" fxLayoutAlign="center center">
    <div id="forgot-form" >
      <form  name="resetPwdform"  [formGroup]="resetPwdform" novalidate>
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 30px;">
          <div class="nameAndPwd">New Password</div>
          <mat-form-field>
            <input matInput formControlName="password" type="password" placeholder="Enter New password" >
          </mat-form-field>
        </div>
        <div fxLayout="row" class="inputBoxShadow" style="margin-top: 30px;">
          <div class="nameAndPwd">Confirm Password</div>
          <mat-form-field>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Enter Confirm password" >
          </mat-form-field>
        </div>
        <div style="margin-top:2%;">
	        <button mat-raised-button style="background-color: #2196F3;margin-right: 15px; color: white;"  aria-label="cancel" >Cancel </button>
	         <button mat-raised-button style="background-color: #2196F3; color: white;" aria-label="reset" >Reset 
	        </button>
        </div>
      </form>
    </div>
  </div>
</div>
