<div fxLayout="row" style="display: block;">
  <div class="flex-grow text-center">
    <strong class="text-color"></strong>
  </div>
  <div class="flex-grow no-border">
    <strong class="text-color">Details</strong>
  </div>
  <div class="flex-grow no-border text-center">
    <strong class="text-color">Units</strong>
  </div>
  <div class="flex-grow text-center">
    <strong class="text-color">Car Parking</strong>
  </div>
</div>
<div fxLayout="row" style="width: 75em;">
  <div class="flex-grow">
    <div class="project-content">
      <div class="project-details-header" *ngIf="logsData.imageUrls.length>0">
        <img src="{{logsData.imageUrls[0]}}" class="imgDiv" (click)="openImageSlider(logsData.logoImageUrl)" />
        <div class="project-name ">
          {{logsData.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow" >
    <mat-form-field appearance="outline">
      <mat-label>Built Up Area</mat-label>
      <input matInput readonly placeholder="Built Up Area" [value]="logsData.projectDetails && logsData.projectDetails.landArea && logsData.projectDetails.landArea">
    </mat-form-field>
     
    <mat-form-field appearance="outline">
      <mat-label>Saleable Area</mat-label>
      <input matInput placeholder="Saleable Area" readonly [value]="logsData.projectDetails && logsData.projectDetails.saleArea && logsData.projectDetails.saleArea">
    </mat-form-field>
  </div>
  <div class="flex-grow ">
    <mat-form-field appearance="outline" *ngFor="let units of logsData.units">
      <mat-label>{{units.bhk}}</mat-label>
      <input matInput readonly [value]="units.count">
    </mat-form-field>
  </div>
  <div class="flex-grow ">
    <mat-form-field appearance="outline" *ngFor="let carParking of logsData.carParkingArea">
      <mat-label>{{carParking.area}}</mat-label>
      <input matInput readonly [value]="carParking.count">
    </mat-form-field>
  </div>
</div>