table {
    width: 100%;
    margin: 10px;
  }
  .mat-cell {
    color: #032a57cf!important;
    font-weight: 600!important;
}

.shared_div {
	margin: 4px -8px 0px 10px;
	.icon {
		margin-left: 7px;
	}
	.text {
		font-size: 13px;
		color: #032a57;
		font-weight: 600;
	}
	
}