<app-organisation-drop-down (selectOrganizaion)="organizationChanged($event)"></app-organisation-drop-down>
<app-top-menu></app-top-menu>
<div class="project-container">
  <mat-tab-group #tabGroup>
    <mat-tab label="Overview">
       <app-panel-header-filter (selectOrganizaion)="getProjects($event)"></app-panel-header-filter>
      <spinner diameter="80" *ngIf="projectLoading; else projectListTemplate"></spinner>
      <ng-template #projectListTemplate>
        <div fxLayout="row">
          <app-expansion-panel [isDisabled]="true" [expansionPanelOptions]="projectDataOptions"
            [data]="projects" [isHistory]="true"></app-expansion-panel>
        </div>
      </ng-template> 
     
    </mat-tab>
    <mat-tab label="New">
      <app-project-create formType="create" (click)="tabSwitch(index)" *ngIf="orgID"></app-project-create>
    </mat-tab>
  </mat-tab-group>
</div>