

			.project-image-name {
					width: 75px;
					height: 50px;
					border-radius: 15px;	
			}

			.project-list-name {
			font: 'Montserrat', sans-serif;
								min-height: 50px;
								width: 50px;

			}
