.user-details-container {
    padding: 10px;
    .user-details-form {
        
        .user-details-card {
            flex: 1;
            display: flex;
            font: 400 13px/20px Roboto,"Helvetica Neue",sans-serif;
            .user-details-name {
                flex: 0.6;
                img {
                    width: 100px;
                    border-radius: 5px;
                }
                .username-input {
                    margin-top: 31px;
                }
            }
            .user-details-content {
                flex: 1;
                .user-details-content-title {
                    margin-left: 10px;
                }
                .user-details-form-list {
                    border-left: 1px solid #999999;
                    min-height: 120px;
                    padding: 10px;
                }
            }
        }
    }
    
}
