<app-organisation-drop-down (selectOrganizaion)="organizationChanged($event)"></app-organisation-drop-down>
<app-top-menu></app-top-menu>
<div class="role-container">
    <mat-tab-group #tabGroup>
        <mat-tab label="Overview">
            <app-panel-header-filter [data] = "roles" (dataFilter)="dataPaginatorChange($event)"></app-panel-header-filter>
            <div style ="place-content :center;">
                <mat-spinner style="margin:0 auto;" *ngIf="roleListSpinner; else panelContent" [diameter]="40"></mat-spinner>
              </div>
            <div fxLayout="row">
                <ng-template #panelContent>
                    <app-expansion-panel *ngIf="selectedOrgId"
                        [pageIndex]="pageIndex"
                        [pageSize]="pageSize"
                        [expansionPanelOptions]="roleDataOptions"      
                        selectorComponent="app-role-details" 
                        [data]="roles" 
                        [isHistory]="true"  (updateRefresh)="getRolesData()" 
                        (openHistort)="openDialog(data)">
                    </app-expansion-panel>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="New">
            <app-role-details formType="create" (tabSwitch)="tabSwitch($event)" *ngIf="selectedOrgId"></app-role-details>
        </mat-tab>
    </mat-tab-group>
</div>