.create-user {
    margin-bottom: 15px;
}
.user-container {
    .user-details {
        margin-left: 15px;
    }
}
::ng-deep .role-container .expansion-container  {
    mat-expansion-panel-header {
        mat-panel-title.expansion-history{
            top: 0 !important;
        }
    }
}
mat-form-field {
    margin-right: 30px;
}
::ng-deep .user-container .expansion-container {
    padding: 10px;
    mat-expansion-panel-header {
        mat-panel-title {
            &.mat-expansion-panel-header-title:nth-child(2) {
                flex: 0.5 !important;
            }
        }
        
    }
}