<div >
    <mat-tab-group>
       <mat-tab label="Overview" >
       	<div  class="list-row" *ngFor="let data of orgData; let i = index;">
       		<div>
       		
	        	<mat-accordion >
				  		<mat-expansion-panel>
				    		<mat-expansion-panel-header>
				      	<mat-panel-title>
				      		<div fxFlex=20 style="flex-direction: column;">
						        <span class="color_dark_blue font-size-12 font-weight-700">{{data.roleName}}</span>
						      	</div>
					        <div class="line_small"></div>
					      	<div fxFlex=20 fxLayoutAlign="space-between center">
						        <div>
						        	<span class="color_light_blue font-size-12">Department</span>
						        </div>
						        <div>
						        	<span class="color_dark_blue font-size-12 font-weight-700">{{data.details.department}}</span>
						        </div>
					      	</div>
					      	<div class="line_small"></div>
					      	<div fxFlex=20 fxLayoutAlign="space-between center">
						        <div>
						        	<span class="color_light_blue font-size-12">Features</span>
						        </div>
						        <div>
						        	<span class="color_dark_blue font-size-12 font-weight-700">{{data.features}}
						        	</span>
						        </div>
					      	</div>
					      	<div class="line_small"></div>
					      	<div fxFlex=40 fxLayoutAlign="space-between center">
						        <div>
						        	<span class="color_light_blue font-size-12">History</span>
						        </div>
						       
					      	</div>
					    </mat-panel-title>
							</mat-expansion-panel-header>
						    <mat-card>
						      	<div class="card_container">
					      			<div class="card_container_inside" fxFlex=20>
					      				
						      		 	<div class="color_dark_blue font-size-12 font-weight-700">
						      		 		{{data.roleName}}
						      		 	</div>
							      	</div>	
							      	<div class="line_large"></div>
							      	<div fxLayout=column class="subs-div" fxFlex=20>
							      		<div fxLayout=row class="subs_margin">
							      			<span class="color_head font-size-12 font-weight-700">Details</span>
							      		</div>
							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<span class="color_light_blue font-size-12">Department</span>
									        </div>
									        <div class="margin_right_25">
									   			 	<mat-form-field style="width: 90px;" *ngIf="editAdminFlag">
												    		<input matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.details.email}}">
												  		</mat-form-field>
										        	<span *ngIf="!editAdminFlag" class="color_dark_blue font-size-12 font-weight-700">{{data.details.department}}</span>
										        	<mat-icon class="edit-icon" (click)="editAdmin(i)">edit</mat-icon>
									        </div>
							      		</div>

							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<span class="color_light_blue font-size-12">Shifts</span>
									        </div>
									        <div class="margin_right_25">
									   			 	<mat-form-field style="width: 90px;" *ngIf="editAdminFlag">
												    		<input matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.details.email}}">
												  		</mat-form-field>
										        	<span *ngIf="!editAdminFlag" class="color_dark_blue font-size-12 font-weight-700">{{data.details.shifts}}</span>
										        	<mat-icon class="edit-icon" (click)="editAdmin(i)">edit</mat-icon>
									        </div>
							      		</div>

							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<span class="color_light_blue font-size-12">Subrole</span>
									        </div>
									        <div class="margin_right_25">
									   			 	<mat-form-field style="width: 90px;" *ngIf="editAdminFlag">
												    		<input matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.details.email}}">
												  		</mat-form-field>
										        	<span *ngIf="!editAdminFlag" class="color_dark_blue font-size-12 font-weight-700">{{data.details.subrole}}</span>
										        	<mat-icon class="edit-icon" (click)="editAdmin(i)">edit</mat-icon>
									        </div>
							      		</div>
							      		
							      		
							      	</div>
							      	<div class="line_large"></div>
							      	<div fxLayout=column class="margin_top_25" fxFlex=20>
							      		<div fxLayout=row class="details_margin">
							      			<span class="color_head font-size-12 font-weight-700">Features</span>
							      		</div>
							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<span class="color_light_blue font-size-12">Total Features</span>
									        </div>
									        <div class="margin_right_25">
									   			 	<span class="color_dark_blue font-size-12 font-weight-700">{{data.features}}
						        	</span>
									        </div>

									        

							      		</div>
							      		 <div fxLayout=row class="margin_right_25" layout-align="center center">
									   			 	<button class="margin-left-4" mat-raised-button class="feature_btn" 
							      		(click)="getFeatureDropdown(i)">Features</button>
												  <mat-select *ngIf="getFeatures" class="btn_margin">
												    <mat-option *ngFor="let f of features" >
												      <mat-checkbox>{{f.viewValue}}</mat-checkbox>
												    </mat-option>
												  </mat-select>
									        </div>
							      	</div>
							      	<div class="line_large"></div>
							      <div fxLayout=column class="margin_top_25" fxFlex=20>
							      		<div fxLayout=row class="details_margin">
							      			<span class="color_head font-size-12 font-weight-700">Approvals</span>
							      		</div>
							      		<div fxLayout=row fxLayoutAlign="space-between center">
								      		<div>
								        		<span class="color_light_blue font-size-12">Total Approvals</span>
									        </div>
									        <div class="margin_right_25">
									   			 	<span class="color_dark_blue font-size-12 font-weight-700">{{data.approvels}}
						        	</span>
									        </div>

									        

							      		</div>
							      		 <div fxLayout=row class="margin_right_25" layout-align="center center">
									   			 	<button class="margin-left-4" mat-raised-button class="feature_btn" 
							      		(click)="getFeatureDropdown(i)">Features</button>
												  <mat-select *ngIf="getFeatures" class="btn_margin">
												    <mat-option *ngFor="let f of approvels" >
												      <mat-checkbox>{{f.viewValue}}</mat-checkbox>
												    </mat-option>
												  </mat-select>
									        </div>
							      	</div>
						      </div>
					      	</mat-card>
						  </mat-expansion-panel>
						</mat-accordion></div>
	      </div>
      	</mat-tab>
       <mat-tab label="New">
        New
      </mat-tab>
    </mat-tab-group>
</div>