<app-organisation-drop-down (selectOrganizaion)="organizationChanged($event)"></app-organisation-drop-down>
<app-top-menu></app-top-menu>
<div class="role-container">
    <mat-tab-group #tabGroup>
        <mat-tab label="Overview">
            <app-panel-header-filter></app-panel-header-filter>
            <spinner diameter="80" class="text-center" *ngIf="roleListSpinner; else panelContent"></spinner>
            <div fxLayout="row">
                <ng-template #panelContent>
                    <app-expansion-panel *ngIf="selectedOrgId" [expansionPanelOptions]="roleDataOptions"      
                        selectorComponent="app-role-details" 
                        [data]="roles" 
                        [isHistory]="true"
                        (openHistort)="openDialog(data)">
                    </app-expansion-panel>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="New">
            <app-role-details formType="create" (tabSwitch)="tabSwitch($event)" *ngIf="selectedOrgId"></app-role-details>
        </mat-tab>
    </mat-tab-group>
</div>