<div class="project-details-container">
  <mat-card>

    <div class="project-content">
      <form>
        <div fxLayout="row">
          <div fxFlex="40" class="border-right-gray">
            <mat-form-field>
              <mat-select placeholder="Favorite food" appearance="outline" fxFlex="50">
                <mat-label>Department</mat-label>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Favorite food" appearance="outline" fxFlex="50">
                <mat-label>Users</mat-label>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="60" class="border-right-gray">
            <div fxLayout="row">
              <div>
                delete
              </div>
              <div>
                colu
              </div>
              <div>

              </div>
              <div>

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>