<div class="user-details-container">
  <form class="user-details-form">
    <mat-card class="user-details-card">
      <div class="user-details-name">
        <img src="./assets/images/avatars/profile.jpg" />
        <div>User Name</div>
        <div>Admin</div>
      </div>
      <div class="user-details-content">
        <div class="user-details-content-title">
          <strong> Details</strong>
        </div>
        <div class="user-details-form-list">
          <div >
            <mat-form-field class="margin_right_25" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput value="First">
            </mat-form-field>
            <mat-form-field class="margin_right_25"  appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput  value="Last">
            </mat-form-field>
          </div>
          <div >
            <mat-form-field  appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput value="abc@g.com">
            </mat-form-field>
          </div>
          <div  >
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput value="9876543212">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="user-details-content">
        <div class="user-details-content-title">
          <strong>Office</strong>
        </div>
        <div class="user-details-form-list">
          <div  >
            <mat-form-field  appearance="outline">
              <mat-label>Location</mat-label>
              <input matInput  value="Bangalore">
            </mat-form-field>
          </div>
          <div  >
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="user-details-content">
        <div class="user-details-content-title">
          <strong>Role</strong>
        </div>
        <div class="user-details-form-list">
           <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <mat-select placeholder="Role">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <mat-select placeholder="Role">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </form>
</div>