<div class="user-details-container">
  <form class="user-details-form">
    <div class="user-details-name">
      <img src="./assets/images/avatars/profile.jpg" />
      <div>User Name</div>
      <div>Admin</div>
    </div>
    <mat-card class="user-details-card">
      <div class="user-details-content">
        <div>
          <strong> Details</strong>
        </div>
        <div class="user-details-form-list">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" value="First">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" value="Last">
          </mat-form-field>
        </div>
      </div>
      <div class="user-details-content">
        <div>
          <strong>Office</strong>
        </div>
        <div class="user-details-form-list">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" value="First">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" value="Last">
          </mat-form-field>
        </div>
      </div>
      <div class="user-details-content">
        <div>
          <strong>Role</strong>
        </div>
        <div class="user-details-form-list">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </form>
</div>