<div class="user-details-container">
  <form [formGroup]="userDetailsForm"  class="user-details-form">
    <mat-card>
      <div class="user-details-card">
        <div class="user-details-name">
          <img [src]="userDetailsForm.value.profileImageUrl" (click)="fileInput.click()"/>
          <input #fileInput type="file" (change)="onFileInput($event)"  style="display:none;" />
          <div class="username-input">
            <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>User Type</mat-label>
              <mat-select formControlName="userType">
                <mat-option *ngFor="let user of userType" [value]="user">
                  {{user}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong> Details</strong>
          </div>
          <div class="user-details-form-list">
            <div formGroupName="name">
              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="first">
              </mat-form-field>
              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Office</strong>
          </div>
          <div class="user-details-form-list">
            <div formGroupName="address">
              <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput formControlName="city">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="area"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Role</strong>
          </div>
          <div class="user-details-form-list">
            <mat-form-field appearance="outline">
              <mat-label>Departments</mat-label>
              <mat-select placeholder="Departments" formControlName="_departmentId">
                <mat-option *ngFor="let department of departments" [value]="department._id">
                  {{department.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Role</mat-label>
              <mat-select [disabled]="!userDetailsForm.value._departmentId" placeholder="Role" formControlName="_roleId">
                <mat-option *ngFor="let role of roles" [value]="role._id">
                  {{role.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div> 
      <button mat-raised-button type="submit" *ngIf="formType === 'create'" (click)="onFormCancel()" class="pull-right">Cancel</button>
      <button mat-raised-button type="submit" class="pull-right" (click)="onSubmit()">Submit</button>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>