.user-details-container {
    .user-details-form {
        display: flex;
        
        .user-details-card {
            flex: 1;
            display: flex;
            .user-details-name {
                flex: 0.2;
                text-align: center;
                img {
                    width: 100px;
                    border-radius: 5px;
                }
            }
            .user-details-content {
                flex: 1;
                padding: 0px 10px;
                .user-details-form-list {
                    border-right: 1px solid #999999;
                    min-height: 100px;
                    padding: 10px;
                }
            }
        }
    }
    
}
