<div class="issue-tracker-details-container">
  <form [formGroup]="issueTrackerDetailsForm" class="issue-tracker-details-form">
    <mat-card>
      <div class="issue-tracker-details-card">
        <div class="issue-tracker-details-name">
          <mat-form-field appearance="outline" style="width: 148px;">
            <mat-label>Created By</mat-label>
            <input readonly matInput formControlName="createdBy">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 148px;">
            <mat-label>Date of Completion</mat-label>
            <input readonly matInput [matDatepicker]="picker3" placeholder="" formControlName="dateOfCompletion">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker disabled #picker3></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 148px;">
            <mat-label>Reference ID#</mat-label>
            <input readonly matInput formControlName="refId">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 148px;">
            <mat-label>Remarks</mat-label>
            <textarea readonly matInput formControlName="remark"></textarea>
          </mat-form-field>
        </div>
        <div class="issue-tracker-details-content">
          <div class="issue-tracker-details-form-list">
            <form [formGroup]="commentformGroup">
              <div formArrayName="comments" 
                *ngFor="let comment of issueTrackerDetailsForm.get('comments')['controls'];let i=index;" >
                <div [formGroup]="comment">
                  <mat-form-field  class="line" style="width: 65px;" >
                    <input  readonly matInput formControlName="status" class="statusCheck bg_color_open">
                  </mat-form-field>
                  <mat-form-field  appearance="outline" style="width: 164px;margin-right: 10px;">
                    <mat-label>Completion Date</mat-label>
                    <input  matInput   [matDatepicker]="comDate" placeholder="Completion Date" formControlName="completionDate">
                      <mat-datepicker-toggle matSuffix [for]="comDate"></mat-datepicker-toggle>
                      <mat-datepicker  #comDate></mat-datepicker>
                  </mat-form-field>
                 
                  <mat-form-field  appearance="outline" style="width: 150px;margin-right: 5px;margin-top: -5px;">
                    <mat-label>Assigned To</mat-label>
                    <mat-select placeholder="Select user" formControlName="assignedTo"  (selectionChange)="selectedUser($event.value)">
                      <mat-option *ngFor="let user of users" [value]="user._id" >
                        {{user.name.first}} {{ user.name.last}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field  appearance="outline" style="width:209px;margin-right:5px;">
                      <mat-label>Actual Completion Date</mat-label>
                      <input  matInput  [matDatepicker]="actualCD" placeholder="Completion Date" formControlName="actualCompletionDate">
                        <mat-datepicker-toggle matSuffix [for]="actualCD"></mat-datepicker-toggle>
                        <mat-datepicker #actualCD></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 180px;margin-right: 5px;">
                      <mat-label>Comments</mat-label>
                      <textarea  matInput formControlName="comments" style="height: 20px"></textarea>
                    </mat-form-field>
                  <!-- <mat-form-field appearance="outline" style="width: 90px;margin-right: 5px;">
                    <mat-label>Sub-type</mat-label>
                    <input matInput readonly formControlName="subType" style="height: 20px;margin-right: 5px;">
                  </mat-form-field> -->
                  <!-- <mat-form-field appearance="outline" style="width: 90px;margin-right: 5px;">
                    <mat-label>Updated By</mat-label>
                    <input matInput readonly formControlName="updatedBy" style="height: 20px;margin-right: 5px;">
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 111px;margin-right: 5px;">
                    <mat-label>Updated on</mat-label>
                    <input matInput readonly  [matDatepicker]="picker2" placeholder="" formControlName="updatedAt">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker disabled #picker2></mat-datepicker>
                  </mat-form-field> -->
                  
                  <span class="hand-cursor" style="align-items: center;" (click)="closeTheIssueComment(comment)">
                     <button style="height: 28px;" mat-raised-button type="submit" class="pull-right">Close</button>
                  </span>
                </div> 
              </div>
            </form>
            <form [formGroup]="createCommentformGroup">
              <div formArrayName="comments">
                <div *ngFor="let comment of commentsArray; let i = index;">
                  <div [formGroup]="createCommentformGroup">
                    <mat-form-field  appearance="outline" style="width:164px;margin-right: 5px;">
                      <mat-label>Completion Date</mat-label>
                      <input  matInput  [matDatepicker]="picker1" placeholder="Completion Date" formControlName="completionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <span class="USer">
                      <span (click)="userSelectDialog()" >
                        <span class="assign">Assigned To</span>
                        <div style="display:inline-flex;" *ngIf="selectedUserData ">
                          <span class="assignUser"> {{selectedUserData.name.first}}</span>&nbsp;
                           <span class="assignUser"> {{ selectedUserData.name.last}}</span>
                        </div>
                      </span>
                    </span>  
                    <mat-form-field  appearance="outline" style="width:209px;margin-right:5px;">
                      <mat-label>Actual Completion Date</mat-label>
                      <input  matInput  [matDatepicker]="picker4" placeholder="Completion Date" formControlName="actualCompletionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width:180px;margin-right: 5px;">
                      <mat-label>Comments</mat-label>
                      <textarea  matInput formControlName="comments" style="height:20px"></textarea>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline" style="width: 90px;margin-right: 5px;">
                      <mat-label>Sub Type</mat-label>
                       <mat-select placeholder="" formControlName="subType">
                        <mat-option *ngFor="let sType of allIssuesType" [value]="sType.name" >
                          {{sType.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                   <!--  <mat-form-field appearance="outline" style="width: 90px;margin-right: 5px;">
                      <mat-label>Updated By</mat-label>
                      <input matInput readonly formControlName="updatedBy" style="height:20px;margin-right:5px;">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 111px;">
                      <mat-label>Updated on</mat-label>
                      <input matInput  readonly [matDatepicker]="picker3" placeholder="" formControlName="updatedAt">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker disabled #picker3></mat-datepicker>
                    </mat-form-field> -->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>  
      </div>  
      <mat-spinner style="margin-left: 450px;margin:0 auto;" *ngIf="updateLoading;" [diameter]="40"></mat-spinner>
      <div fxLayout=row class="pull-right" style="margin-top: 20px;"> 
        <div fxLayout=column class="hand-cursor" style="align-items: center;" (click)="addComments()">
          <img style="height: 30px;width: 30px;" src="assets/images/icons/Add.png" />
          <span>Add</span>
        </div>
        <div fxLayout=column class="hand-cursor" style="align-items: center;margin-left: 20px;" (click)="closeTheIssue()">
          <img style="height: 30px;width: 30px;" src="assets/images/icons/Close.png" />
          <span>Close</span>
        </div>
        <div fxLayout=column style="align-items: center;margin-left: 20px;">
          <img style="height: 30px;width: 30px;" src="assets/images/icons/close_red.png" />
          <span>Cancel</span>
        </div>
        <div fxLayout=column class="hand-cursor" style="align-items: center;margin-left: 20px;"  (click)="onFormSubmit()">
          <img style="height: 30px;" src="assets/images/icons/submitIcon.png" />
          <span>Save</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>