.pull-right1{
	padding-top: 2px
}
.pull-right2{
	width:43%
}
.pull-right3{
	place-content :center;
}
.pull-right4{
	height: 30px
}
.pull-right5{
	margin-left: 86em;
	margin-top: -25px;
	cursor: pointer
}
.pull-right6{
	 margin-left: 91em;
	 margin-top: -48px;
	cursor: pointer
}