/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif !important;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.clearfix {
    clear: both;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.align-item-center {
    align-items: center
}
app-expansion-panel {
    width: 100%;
}
.mat-tab-header {
}
.mat-tab-label-container .mat-tab-label {
    padding: 0px 12px;
    min-width: 100px;
    &.mat-tab-label-active {
        color: #4285f4;
    }
}
.mat-tab-group.mat-primary .mat-tab-label-container .mat-ink-bar, 
.mat-tab-nav-bar.mat-primary .mat-tab-label-container .mat-ink-bar {
    background-color: inherit;
}
.marginTop30 {
	margin-top: 30px;
}
.bg-color-primary {
	background-color :#00aff0;
}
.color-white {
	color : #FFFFFF;
}

.color_dark_blue {
	color: #032A57;
}
.color_light_blue {
	color: #032A57;
	opacity:0.64;
}
.color_head {
	color: #1348A7;
}
.font-size-12 {
	font-size: 14px;
}
.font-size-14 {
	font-size: 16px;
}
.font-weight-700{
	font-weight: 700;
}
.margin_right_25{
	margin-right: 25px;
}
.margin-left-4{
	margin-left: 25px;
}
.margin-10px-round {
    margin: 10px;
}
.margin-btm-10 {
    margin-bottom: 10px;
}
.mat-checkbox-label {
    color: #00aff0;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0;
    margin-top: -10px;
    .mat-select-arrow {
      margin-top: 12px;  
    }
}
.mat-form-field  {
    font-family: 400 13px/20px 'Montserrat', sans-serif  !important;
}
.mat-expansion-panel-header, .mat-tab-group {
  font-family: 'Montserrat', sans-serif !important;  
}
.border-right-gray {
    border-right: 1px solid #ccc;
}
.margin-10 {
    margin: 10px;
}
.no-border {
    border: 0px !important;
}

