<div id="forgot" fxLayoutAlign="center center">
  <div id="forgot-form-wrapper"  fxLayout="row" fxLayoutAlign="center center">
    <div id="forgot-form" >
      <form  name="forgotPwdform"  [formGroup]="forgotPwdform" novalidate>
        <div fxLayout="row" class="inputBoxShadow">
          <div class="nameAndPwd" >Email</div>
          <div>
            <mat-form-field>
              <input matInput formControlName="email" type="email" placeholder="Enter email">
            </mat-form-field>
          </div>
        </div>
        <div style="margin-top:3%;">
	        <button mat-raised-button style="background-color: #2196F3;margin-right: 15px; color: white;"  aria-label="cancel" (click)="closeForgotPwdPopup()">Cancel </button>
	         <button mat-raised-button style="background-color: #2196F3; color: white;" aria-label="reset" (click)="onforgotPwdformSubmit()" >Reset 
	        </button>
        </div>
      </form>
    </div>
  </div>
</div>
