<div class="user-details-container">
  <form [formGroup]="departmentDetailsForm" (ngSubmit)="onSubmit()" class="user-details-form">
    <mat-card>
      <div class="user-details-card">
        <div class="user-details-name">
          <div class="username-input">
            <mat-form-field appearance="outline" class="margin_right_25">
              <mat-label>Department Name</mat-label>
              <mat-select placeholder="Departments" formControlName="departmentName">
                <mat-option *ngFor="let departmentName of departments" [value]="departmentName">
                  {{departmentName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong> Details</strong>
          </div>
          <div class="user-details-form-list" formGroupName="details">
            <div>
              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Features</strong>
          </div>
          <div class="user-details-form-list">
            <div>
              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>Features</mat-label>
                <input matInput formControlName="features">
              </mat-form-field>
            </div>
            <div>
              <button class="margin-left-4" mat-raised-button class="feature_btn" 
              >Features</button>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button type="submit" class="pull-right">Submit</button>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>