<div class="user-details-container">
  <form [formGroup]="roleDetailsForm" (ngSubmit)="onSubmit()" class="user-details-form">
    <mat-card>
      <div class="user-details-card">
        <div class="user-details-name">
          <div class="username-input">
            <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="roleNane">
            </mat-form-field>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong> Details</strong>
          </div>
          <div class="user-details-form-list" formGroupName="details">
            <div>
              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>Department</mat-label>
                <input matInput formControlName="department">
              </mat-form-field>

              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>Shift</mat-label>
                <input matInput formControlName="shift">
              </mat-form-field>

              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>SubRole</mat-label>
                <input matInput formControlName="subrole">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="user-details-content">
          <div class="user-details-content-title">
            <strong>Office</strong>
          </div>
          <div class="user-details-form-list">
            <div>
              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>Features</mat-label>
                <input matInput formControlName="features">
              </mat-form-field>
              <mat-form-field class="margin_right_25" appearance="outline">
                <mat-label>Approval</mat-label>
                <input matInput formControlName="approvals">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <button mat-raised-button type="submit" class="pull-right">Submit</button>
      <div class="clearfix"></div>
    </mat-card>
  </form>
</div>