<mat-card>
  <div class="card_container">
    <div class="card_container_inside" fxFlex=26>
      <div class="color_dark_blue font-size-12 font-weight-700">
        {{data.roleNane}}
      </div>
    </div>	
    <div fxLayout=column class="subs-div" fxFlex=26>
      <div fxLayout=row class="subs_margin">
        <span class="color_head font-size-12 font-weight-700">Details</span>
      </div>
      <div fxLayout=coloumn style="display: block;" fxLayoutAlign="space-between center">
        <div>
          <span class="color_light_blue font-size-12">Department</span>
        </div>
        <div class="margin_right_25">
          <mat-form-field style="width: 90px;" >
              <input matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.details.department}}">
            </mat-form-field>
        </div>
        <div>
          <span class="color_light_blue font-size-12">Shift</span>
        </div>
        <div class="margin_right_25">
          <mat-form-field style="width: 90px;" >
              <input matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.details.shift}}">
            </mat-form-field>
        </div>
        <div>
          <span class="color_light_blue font-size-12">Sub-role</span>
        </div>
        <div class="margin_right_25">
          <mat-form-field style="width: 90px;" >
              <input matInput placeholder="" class="color_dark_blue font-size-12 font-weight-700" value="{{data.details.subrole}}">
            </mat-form-field>
        </div>
      </div>
    </div>  
    <div fxLayout=column class="margin_top_25" fxFlex=26>
      <div fxLayout=row class="details_margin">
        <span class="color_head font-size-12 font-weight-700">Features</span>
      </div>
      <div fxLayout=row fxLayoutAlign="space-between center">
        <div>
          <span class="color_light_blue font-size-12">Total features</span>
        </div>
        <div class="margin_right_25">
            <span class="color_dark_blue font-size-12 font-weight-700">{{data.features}}</span>
        </div>
        <button class="margin-left-4" mat-raised-button class="feature_btn" 
        (click)="getFeatureDropdown(i)">Features</button>
          <mat-select *ngIf="getFeatures" class="btn_margin">
            <mat-option *ngFor="let f of features" >
              <mat-checkbox>{{f.viewValue}}</mat-checkbox>
            </mat-option>
          </mat-select>
      </div>
    </div>
    <div fxLayout=column style="margin-top: 25px;" fxFlex=26>
      <div fxLayout=row class="entity_margin">
        <span class="color_head font-size-12 font-weight-700">Approvals</span>
      </div>
      <div fxLayout=row fxLayoutAlign="space-between center">
        <div>
          <span class="color_light_blue font-size-12">Total approvals</span>
        </div>
        <div class="margin_right_25">
          <span class="color_dark_blue font-size-12 font-weight-700">{{data.approvels}}</span>
        </div>

        <button class="margin-left-4" mat-raised-button class="feature_btn" 
        (click)="getFeatureDropdown(i)">Approvals</button>
          <mat-select *ngIf="getFeatures" class="btn_margin">
            <mat-option *ngFor="let f of features" >
              <mat-checkbox>{{f.viewValue}}</mat-checkbox>
            </mat-option>
          </mat-select>
      </div>
    </div>
  </div>
</mat-card>