<div class="main-content" style="overflow: -webkit-paged-x;">
  <div  class="main-head">
    <div fxLayout=column >
      <div>
        <div>
          <div class="dottedBorder" >
            <img src="{{profileImageUrl}}" class="userImage" (click)="fileInput.click()"/>
            <input #fileInput type="file" (change)="onFileInput($event)"  class="display_none" />
          </div>
          <div fxLayout="column" class="text-center" style="margin-top: 20px;">
            <span class="text-color">{{userName}}</span>
          </div>
           <div fxLayout="column" class="text-center">
            <span class="text-color">{{roleName}}</span>
          </div> 
        </div>
      </div>
      <mat-card class="report-card" fxLayout=column style="display: inline;flex :1;margin-top: 50px;">
        <div class="card_title_1">Quick Details</div>
        <div fxLayout=row style="place-content: space-between;border-bottom: 1px solid #ece8e8;padding: 10px;">
           <div class="details-head">Function</div>
          <div class="details-head">Open Request</div>
        </div>
        <div fxLayout=row style="place-content: space-between; margin-top: 10px;" *ngFor="let v of ncmBpdListAnalytics">
          <div fxLayout=row >
            <div class="count">{{v.data[0].process}}</div>
          </div>
          <div class="count">{{v.count}}</div>
        </div>
      </mat-card>
    </div>
    <div  style="width: 90%;" fxLayout="row" style="display: inline;flex :1;">
      <mat-card class="header-shadow" style="display: inline;flex :1;width: 90%;height: 15px;">
        <app-top-menu></app-top-menu>
        <div class="content-head" fxLayout=row>
          <div fxLayout=column style="display: inline-flex;width: 50%" >
            <div class="first-card">
              <mat-card class="report_card_top"  fxFlex=50 fxLayout=row style="place-content: space-between;height: 85%;align-items: center;">
                <div class="card-title">Total Request </div>
                <div class="font_12">{{ncmAnalytics && ncmAnalytics.totalRisks}}</div>
              </mat-card>
              <mat-card class="report_card_top" fxFlex=50 fxLayout=row style="place-content: space-between;height: 85%;align-items: center;">
                <div class="card-title">Total Opportunites</div>
                <div class="font_12">{{ncmAnalytics && ncmAnalytics.totalOpportunities}}</div>
              </mat-card> 
            </div>
            <div class="first-card" style="margin-top: 10px;" >  
              <mat-card class="report_card_top" fxFlex=33 fxLayout=row style="place-content: space-between;height: 85%;align-items: center;">
                <div class="card-title">Open</div>
                <div class="font_12">{{ncmAnalytics && ncmAnalytics.openCount}}</div>
              </mat-card> 
              <mat-card class="report_card_top" fxFlex=33 fxLayout=row style="place-content: space-between;height: 85%;align-items: center;">
                <div class="card-title">Pending</div>
                <div class="font_12">{{ncmAnalytics && ncmAnalytics.pendingCount}}</div>
              </mat-card>
              <mat-card class="report_card_top" fxFlex=33 fxLayout=row style="place-content: space-between;height: 85%;align-items: center;">
                <div class="card-title">Closed</div>
                <div class="font_12">{{ncmAnalytics && ncmAnalytics.closedCount}}</div>
              </mat-card>
            </div> 
          </div>
          <div fxLayout=row>
          </div>
        </div>
        <div class="work_order_able" style="width: 95%">
          <div class="user-container" >
             <mat-card >
              <div fxLayout=row style="place-content: space-between;">
                <div class="table_header_text" style="width:13%">
                  <div fxLayout=row >
                    <span fxLayout=row  >BPD ID</span>
                  </div>
                </div>
                <div class="table_header_text" style="width:13%">
                  <div fxLayout=row >
                    <span fxLayout=row  >Date</span>
                  </div>
                </div>
                <div class="table_header_text" style="width:13%">
                  <div fxLayout=row >
                    <span fxLayout=row  >Process</span>
                  </div>
                </div>
              </div>
            </mat-card>
            <div fxLayout="row">
              <app-expansion-panel 
                *ngIf="bpdLists && bpdLists.length > 0"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [expansionPanelOptions]="userBPDOptions"
                [data]="bpdLists">
              </app-expansion-panel>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
