    <div class="main-content" >
      <div  class="main-head">
        <div fxLayout=column>
          <div>
            <div>
              <div class="dottedBorder" >
                <img class="userImage" src="/assets/images/backgrounds/autumn.jpg">
                <div align="center" class="greenDot"></div>
              </div>
              <div fxLayout="column" style="text-align: center;">
                <span class="text-color">Satesh</span>
                <span class="text-color-light ">Contracts</span>
              </div>
            </div>
          </div>
          <mat-card class="report-card" fxLayout=column style="display: inline;flex :1;">
            <div class="card-title">Quick Details</div>
            <div fxLayout=row style="place-content: space-between;">
              <div class="details-head">Projects</div>
              <div class="details-head">Request</div>
            </div>
            <div fxLayout=row style="place-content: space-between; margin-top: 10px">
              <div class="count">Palm Beach</div>
              <div class="count">38</div>
            </div>
            <div fxLayout=row style="place-content: space-between; margin-top: 10px">
              <div class="count">Palm Beach2</div>
              <div class="count">48</div>
            </div>
          </mat-card>
          <mat-card class="report-card" fxLayout=column style="display: inline;flex :1;">
            <div class="card-title">NCM</div>
            <div fxLayout=row style="place-content: space-between;">
              <div class="details-head">RISK ID</div>
              <div class="details-head">Status</div>
            </div>
            <div fxLayout=row style="place-content: space-between; margin-top: 10px">
              <div class="count">Palm Beach</div>
              <div class="count">38</div>
            </div>
            <div fxLayout=row style="place-content: space-between; margin-top: 10px">
              <div class="count">Palm Beach2</div>
              <div class="count">48</div>
            </div>
          </mat-card>
        </div>
        <div fxFlex=90 fxLayout="row" style="display: inline;flex :1;">
          <mat-card style="display: inline;flex :1;    height: 15px;">
            <div fxLayout=row style="place-content: space-around;">
              <div class="tab-btn">Projects</div>
              <div class="tab-btn">BPD</div>
              <div class="tab-btn">Risk/Opportunity</div>
              <div class="tab-btn">File Manager</div>
            </div>
            <div class="content-head" fxLayout=column>
              <div class="first-card">
                <mat-card class="report-card" fxFlex=20 fxLayout=column>
                  <div class="card-title">Total recieved documents</div>
                  <div fxLayout=row style="place-content: space-between;">
                    <div class="count">22</div>
                    <div class="count">38</div>
                  </div>
                </mat-card>
                <mat-card class="report-card" fxFlex=20 fxLayout=column>
                  <div class="card-title">Total Completed</div>
                  <div fxLayout=row style="place-content: space-between;">
                    <div class="count">154</div>
                    <div class="count">132</div>
                  </div>
                </mat-card>
                <mat-card class="report-card" fxFlex=20 fxLayout=column>
                  <div class="card-title">Pending Request</div>
                  <div fxLayout=row style="place-content: space-between;">
                    <div class="count">11</div>
                    <div class="count">20</div>
                  </div>
                </mat-card>
              </div>
              <div class="first-card">
                <mat-card class="report-card" fxFlex=20 fxLayout=column>
                  <div class="card-title">Awating RFa approval</div>
                  <div fxLayout=row style="place-content: space-between;">
                    <div class="count">10</div>
                    <div class="count">21</div>
                  </div>
                </mat-card>
                <mat-card class="report-card" fxFlex=20 fxLayout=column>
                  <div class="card-title">Awating WO approval</div>
                  <div fxLayout=row style="place-content: space-between;">
                    <div class="count">147</div>
                    <div class="count">123</div>
                  </div>
                </mat-card>
                <mat-card class="report-card" fxFlex=20 fxLayout=column>
                  <div class="card-title">Task in due date</div>
                  <div fxLayout=row style="place-content: space-between;">
                    <div class="count">14</div>
                    <div class="count">17</div>
                  </div>
                </mat-card>
              </div>  
            </div>
            <div class="content-head" style="width: 50%;">
              <mat-card class="report-card" fxLayout=column style="display: inline;flex :1;">
                <div class="card-title">Opportunity</div>
                <div fxLayout=row style="place-content: space-between;">
                  <div class="details-head" style="margin-right: -23px;">RiskID</div>
                  <div class="details-head" >Process</div>
                   <div class="details-head">BPD ID</div>
                  <div class="details-head">Time</div> 
                  <div class="details-head">Budget</div>
                </div>
                <div fxLayout=row style="place-content: space-between; margin-top: 10px">
                  <div class="count">R001</div>
                  <div class="count">Purchase</div>
                  <div class="count">BPD/09</div>
                  <div class="count">10/05/2017</div>
                  <div class="count">Rs.19,251</div>
                </div>
                <div fxLayout=row style="place-content: space-between; margin-top: 10px">
                  <div class="count">R001</div>
                  <div class="count">Purchase</div>
                  <div class="count">BPD/09</div>
                  <div class="count">10/05/2017</div>
                  <div class="count">Rs.19,251</div>
                </div>
              </mat-card>
            </div>
          </mat-card>
      </div>
    </div>
  </div>
