<div id="phase-form-main-box" class="page-layout simple fullwidth" matkraftPerfectScrollbar>
  <div class="proj-tm-lbl">
    <span>Phases</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex="25">
      <mat-card fxFlex="100" class="card-form">
        <!-- commented for build -->
        <form novalidate>
         <div class="display-phs-block1">
            <div fxLayout="column">
              <div class="project-team-form-feilds" fxLayout="row">
                <div fxLayout="column" id="phase-and-tower-box">
                  <div class="phs-n-twr-btn">
                    <mat-form-field class="phs-blc">
                      <input matInput placeholder="Phase" formControlName="name">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div id="ok-btn-div">
                <button id="btn-show-data-in-right"> Add </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
    <div fxFlex="55">
      <mat-card fxFlex="100" class="card-form">
        <div class="display-phs-block">
          <div>
            <div fxLayout="row" class="display-phs-header">
              <div fxFlex="100" fxLayoutAlign="space-between left">
                <div fxFlex="50" class="labal-name">Phases</div>
                <div fxFlex="50" class="labal-name">Block/Tower</div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div fxFlex="15"></div>
  </div>
</div>
